[2021-06-01 14:54] willguv commented on #183
@danchamp yes some guidance would be great - we can make sure the new theme covers all the bases as we go

[2021-06-01 14:54] willguv commented on #183
I'll add this to the localgov_base board

[2021-06-01 15:01] danchamp commented on #243
Definitely, that would be much better.

Agreed.

Great, thanks.

[2021-06-02 09:48] danchamp commented on #243
@willguv A collation of the current state of summary fields across content types, and suggested actions for rationalisation:

| Content type             | Visible? | Required? | Usage                                                        | Suggested action                                           |
|--------------------------|----------|-----------|-----------------------------------------------

[2021-06-02 10:37] willguv commented on #220
Project arc taking shape at https://docs.google.com/spreadsheets/d/1DWt5NM9ahP0OaOixPvj_TPdH6RSc0mRzY8bn8HLUrSU/edit?usp=sharing

[2021-06-02 12:37] willguv opened #254 "DNS changes"
I own localgovdrupal.org, and previously pointed nameservers to following:

dns1.p06.nsone.net
dns2.p06.nsone.net
dns3.p06.nsone.net
dns4.p06.nsone.net

(I may have done this at Pauls' request to point to the docs site)

## Subdomains

We need to solve this mystery in order to create subdomains for the demo and testing environments

## Email

I'm setting up hello@localgovdrupal.org (and other emai

[2021-06-02 12:38] willguv commented on #254
Hi @stephen-cox here's what I know on the DNS front

[2021-06-02 14:13] stephen-cox commented on #254
Those name servers looks to be managed by https://ns1.com/, while the domain seems to be registered with https://www.assetict.com/. Do you have a login for either of these DNS control panels?

If you have access the NS1 then we can just set new DNS records. If you have a login for Asset ICT then we'll need to change the nameservers away from NS1 and add all the required DNS records.

[2021-06-02 14:16] willguv commented on #254
@stephen-cox I've never heard of ns1.com - think it's something that was done for this project

I can access Asset ICT. Can you let me know what you'd like as the nameservers and I'll get this done

Thanks

[2021-06-02 15:52] stephen-cox commented on #254
Can you set the nameservers to use the default ones provided by Asset ICT?

If so it's easiest to use them. If not then we could use the nameservers Agile Collective use. These are managed by Webarch and configured entirely through git. Alternatively we could transfer the domain to a provider who has a nice web interface and DNS servers. I like Gandi for this: https://www.gandi.net/

[2021-06-02 15:56] willguv commented on #254
I can revert to the Asset ICT defaults, no problem

Do I need to add an entry to maintain the docs site at its current localgovdrupal.org address?

[2021-06-02 16:10] stephen-cox commented on #254
The localgovdrupal.org site is using Netlify and from this (https://docs.netlify.com/domains-https/custom-domains/configure-external-dns/#configure-an-apex-domain) it looks to me like you need to add the following DNS record

A record: localgovdrupal.org. => 75.2.60.5

For demo and testing sites please add the following:

CNAME record: demo.localgovdrupal.org. => localgovdrupal.agile.coop
CNAME re

[2021-06-02 16:43] willguv commented on #254
@stephen-cox thanks, I'll get this done

[2021-06-02 21:21] willguv commented on #254
Hi @stephen-cox these are all added now. I’m getting Apache default pages for test and demo

[2021-06-03 13:48] stephen-cox commented on #254
Hi @willguv

We now have a demo site which is currently running LocaGov 2.0.0 at: https://demo.localgovdrupal.org/ and a testing site for the bleeding edge and sprint reviews at: https://test.localgovdrupal.org/

[2021-06-03 14:29] willguv commented on #254
Great! Thank you, will close this

[2021-06-03 14:29] #254 closed, assigned to stephen-cox

[2021-06-04 13:33] msayoung commented on #251
I've done as much as I can right now. https://docs.google.com/forms/d/e/1FAIpQLSdPtKci39u_KFdsms7dlVPjnpF7DBF5Rs04Kihj2PAKOJWmXQ/formResponse

I believe we still need

- [ ] details of the Prize Draw (including when the survey will run to) @willguv
- [ ] an estimate of how long it will take, added to the intro
- [ ] a final check

@AlexandraClark83 @willguv @finnlewis

[2021-06-04 13:59] willguv commented on #251
Still waiting to hear from Cumbria so will buy two £50 John Lewis vouchers at my risk. One voucher for this survey, and the other one for future survey? @msayoung

Leave open for next sprint? Shall we finalise everything on Weds?

[2021-06-04 14:22] msayoung commented on #251
@willguv we could be non-specific about the amount for now.
do you have someone in mind to be a guinea pig to fill it out? Could you pass it to them today? If not, I could ask Neil.
It would be good to have it ready to send out for next sprint.

[2021-06-04 14:51] willguv commented on #251
@msayoung I was going to ask Neil as well, so do you want to ask him (trying to stay off phone today!)

[2021-06-04 15:01] msayoung commented on #251
I'm happy to, but I don't have his new email address. Can you DM it to me?

[2021-06-04 15:02] finnlewis commented on #251
I'll test it this evening and time myself.

[2021-06-04 15:03] finnlewis commented on #251
Neil is also on Twitter - I'm sure he wouldn't mind a Dm there.

[2021-06-07 09:21] andybroomfield opened #255 "Rationalise use cases of alert banner and service update / status"
Two PRs will give Alert banner localgovdrupal/localgov_alert_banner#142 and service status localgovdrupal/localgov_services#115 some new powers, allowing alerts to be targeted to specific pages.

Its not clear what the difference between these approachs are, or why one should be used over the other.
I'm a little concered about developing franken features and it would help if the use cases where do

[2021-06-07 17:35] ekes commented on #242
# Scheduled Transitions

 * Works only with workflow. So you need workflow transitions (publish, unpublish) to make it work.
 * Works with any entity as it is actually scheduling the workflow transition action.
 * Can then set the permissions at high granularity ![Screenshot_2021-06-07 Permissions Drush Site-Install](https://user-images.githubusercontent.com/237186/121064199-8d6bbe80-c7c7-11eb-8c3

[2021-06-07 22:46] andybroomfield commented on #242
Basically as @ekes summary. I would say that scheduler is simpler from a content designer perspective in that the publish and unpublish dates are right on the form. Would there be value in scheduling additional states like review?
Theres a few technical advantages to scheduled transitions in that it uses its own database table instead of having the extra columns on the entity base table.
Using sch

[2021-06-08 06:28] finnlewis commented on #251
I tested this last night, tweaked the phrasing of a couple of questions and changed the wording on the final question to specifcally ask if people are up for a follow up interview, following conversation with @AlexandraClark83 on Slack.

I'm happy with the survey as it stands.

How about you @AlexandraClark83  @msayoung @willguv ?

[2021-06-08 08:16] msayoung commented on #224
Started on PR: https://github.com/localgovdrupal/docs/pull/48

[2021-06-08 08:44] AlexandraClark83 commented on #251
Hi Finn,

I have a couple of minor things that I’d like to change, but happy to discuss on the call if that was the plan?

One of the outstanding ones from our last conversation is the consistency around the wording of "Current website” "Current System” and "Web publishing platform” I don’t know which one is best, but let’s stick to one.

Speak in a bit.

Thanks,
Alex

-------

Alexandra Clark,
Fo

[2021-06-08 08:53] willguv opened #256 "Editable header"
Making the header and footer editable by content designers has been discussed previously.

We need to confirm whether any work was done or not.

If not, we need to decide on a MVP to deliver in a future sprint.

## User story

As a content designer
I want to be able to edit the logo and links in the header.
So that I can brand this with my council's logo and set some top level menu items

## Tasks

[2021-06-08 09:03] willguv opened #257 "Editable services menu"
In Croydon and Lambeth, clicking on "Services" in the header opens a mega menu with services listed

This area is fully editable by a content designer

- Links can be created, edited and deleted
- Links can be reordered as needed

We need to confirm what the distribution offers. If nothing, we should decided on an MVP for a future sprint.

[2021-06-08 09:05] willguv commented on #222
@finnlewis this has been superseded by the working group, so am moving to Done. Can be deleted if that's what we're doing with "Not done" or "Duplicate" cards

[2021-06-08 09:16] willguv commented on #251
@msayoung @AlexandraClark83 I've tightened up the intro a bit, and added our new email address (hello@localgovdrupal.org)

Reading the rest now. Really like it

[2021-06-08 09:21] willguv commented on #251
I'm changing all mentions of "system" to "publishing platform"

Think using "website" and "publishing platform" together in the same survey is OK, but we can discuss at review

[2021-06-08 09:22] AlexandraClark83 commented on #251
Great, thanks. I’ve changed the last question slightly and corrected a typo.

On page 6. We have "Would your council consider using LocalGov Drupal to build its public facing website?” After that we could add in an open ended “Please tell us why they would or wouldn’t”?  At the moment we only ask why they wouldn’t, but we cold potentially learn something by asking why they would.

Thanks,
Alex

--

[2021-06-08 09:24] AlexandraClark83 commented on #251
Great, thanks. Yes, it might just cause some confusion if it is not clear what the difference is.

-------

Alexandra Clark,
Founder & Consultant

Telltale Research
www.telltaleresearch.com<http://www.telltaleresearch.com>

Mobile: +44(0)7900665543
LinkedIn<https://www.linkedin.com/in/alexandra-clark-34685b4/> | Twitter<https://twitter.com/telltaleACRC> | Instagram<https://www.instagram.com/tellta

[2021-06-08 09:28] willguv commented on #251
Can we run through the first couple of questions in section 4 as not sure if they quite work - thanks

We could put the following questions together in their own section as they relate a council that's going to upgrade. And say to people they can skip it if they're not upgrading

- Do you plan to rebuild or significantly redevelop your current website in the near future?
- If so, what is the main

[2021-06-08 11:24] finnlewis opened #258 "Pair review of pull request - make it happen"
From retrospective, to get PRs reviewed quicker.

[2021-06-08 11:47] willguv commented on #251
On

Would your council consider using LocalGov Drupal to build its public facing website?
What would prevent you / your organisation from adopting LocalGov Drupal?

What do you answer if you're already using it?

[2021-06-08 11:49] willguv commented on #251
@AlexandraClark83 @msayoung other than the points above which we can go through at 5pm, everything else is great!

[2021-06-08 12:32] finnlewis opened #267 "Standardise certain fields across content types for template consistency - eg localgov_teaser_image,"
@markconroy if you could expand on this, that would be great.

The motivation seems to be that we want to use the same fields in all teasers.

So a news teaser would have:

localgov_teaser_image
localgov_summary

And other content types can follow suite.

[2021-06-08 12:46] ekes commented on #242
I doubt it, but both do allow for it scheduler does this with the workflow add on module.

On that complexity I think it's more likely that you'd want to schedule a new revision to update the existing published page. There are some open issues about this for Scheduler. Permissions there also don't seem to be implemented (so a user who can't make the transition can schedule it - reading the code it

[2021-06-09 10:44] #197 closed

[2021-06-09 10:58] finnlewis opened #259 "Site-wide search - default implementation out of the box"
## User story

As a content designer
I want: site wide search out of the box
So that: I can have basic search

## Assumptions:

 - basic first pass
 - all content types to be indexed
 - fields to be indexed: rendered page or a specific view mode
 - search result view mode (check with @markconroy )
 - no filters (for now)
 - minimal theme work for now, but test in current localgov_theme theme

## A

[2021-06-09 11:25] finnlewis opened #260 "Editable footer"
## User story

As a content designer
I want manage: the default footer menus and follow links
So that: we can `have a better demo.

## Assumptions:

- [ ] The main motivation right now is tot make the demo look good
- [ ] The first two are menu blocks (footer menu 1, footer menu 2)
- [ ] The links that populate these menus will be empty in a default install, but populated by the localgov_demo modu

[2021-06-09 11:32] finnlewis opened #261 "Directories: Open referral expose API"

[2021-06-09 11:32] finnlewis opened #262 "Directory keywords: analytics / data collection (see card)"

[2021-06-09 11:32] finnlewis opened #263 "Directories: Open referral data structure implementation"

[2021-06-09 11:32] finnlewis opened #264 "Document to permissions and roles"

[2021-06-09 11:41] finnlewis opened #265 "Documentation structure: improve the structure of the docs site"

[2021-06-09 11:43] finnlewis opened #266 "Comms brief out"

[2021-06-09 11:57] msayoung commented on #259
@stephen-cox there's a wireframe here: https://design.penpot.app/#/view/f220dcf0-c3e1-11eb-8557-f55ab9adbb41/f220dcf1-c3e1-11eb-8557-f55ab9adbb41?index=0

[2021-06-09 13:41] danchamp commented on #259
@msayoung A little accessibility feedback on the wireframe:

- An explicit `<label>` for search field would preferred - the button is liable to be styled with just an icon or some other markup that may not translate sensibly to an accessible name.
- The label can be hidden using an accessible method (I'm assuming @markconroy will have a utility class for accessible hiding in localgov_base).
- If w

[2021-06-09 13:57] msayoung commented on #259
Thanks @danchamp

Sure, I have put an explicit label in, and renamed the button to "Apply" to a) avoid repetition, and b) follow what we have on other lists of things. eg /events

I've incorporated your other comments directly into the wireframe.

[2021-06-09 20:11] markconroy commented on #259
In terms of an accessible utility class to hide the label, Drupal has a built in `.visually-hidden` class that can be used.

However, if we use that in the template we are saying that _every_ website using this wants to have the label hidden by default. This is fine if that's our decision, just want to raise it here. The opposite is the same, saying _every_ website using this wants the form visibl

[2021-06-09 20:12] markconroy commented on #259
@msayoung can I have access to that wireframe please? mark@annertech.com. thanks.

[2021-06-10 16:17] markconroy commented on #267
@finnlewis can this be moved to localgov_core issues? I think there's a wider discussion needed for it, rather than just the new base theme.

[2021-06-10 16:49] finnlewis commented on #267
Good call @markconroy  - transfering to the main project.

[2021-06-10 16:51] finnlewis commented on #267
I realise this sounds like a potential field rename issue... again!

@markconroy could you add some detail to the motivations and benefits. I think I understand it, but this is the sort of change that will require data migration and field deleting updates, similar to when we renamed fields before, so the benefits will need to be weighed up against the potential costs.

[2021-06-10 19:34] markconroy commented on #267
Sure.

If we have a number of fields that all do the same thing, our templates become more complex when trying to use generic templates.

For example, if we have a template called `node--teaser.twig` (for our teasers), and we wish to have a section in that which outputs the teaser image, we need to do something like this:

- if content = event: output event_teaser_image
- if content = news: output

[2021-06-10 20:50] finnlewis commented on #267
Thanks @markconroy , I understand.

So I guess we need to list the field names we're talking about in which content types and the proposed changes.

## Image fields

I can only find two obvious image fields.

Content type                |      Image field
-----------------------|---------------------
localgov_news_article  | field_media_image
localgov_event             | localgov_event_image

Perh

[2021-06-11 18:29] Adnan-cds commented on #111
[Work-in-progress](https://github.com/localgovdrupal/localgov_page_components/pull/21)

[2021-06-12 12:39] willguv commented on #255
I’ve started at chat with Nikki in Brighton, which I think will lead to useful rationalisation

We were talking about the existing BHCC service landing page which has a “service updates” panel beneath the fold:

[2021-06-14 08:26] andybroomfield commented on #255
Hope you don't mind I edited your comment @willguv to change to pre text to a blockqoute.

I agree with what is being expressed, I'm concered that service status is becoming a mega feature.
For alerts, Alert banner strikes me as the better place, keeping all alerts in a central place and developing an in page alert type that can be placed below the title and be visible on any page that is desiered

[2021-06-14 08:30] willguv commented on #255
@andybroomfield It doesn't feel about a mega feature to me. As a content designer, I'll be able to write a status update message about, say, bin collections and be able to display it on either:

- The service status page at https://demo.localgovdrupal.org/service-status
- A curated selection of other pages on the site as needed

Happy to chat about this some more

[2021-06-14 13:28] markconroy commented on #267
I think for news, if we have a dedicated field for the main image that's fine and then also another one for the teaser which is the generic field.

For summary fields, I think _all_ content types should follow the same approach. Either _all_ use a dedicated field, or _all_ use the body summary. Inconsistencies cause technical debt and encourage other features to implement their own patterns, which

[2021-06-14 14:18] andybroomfield commented on #255
@willguv  What I mean is that service status feels like three seperate features.
1. The service updates nodes that exist under the landing page (as on City Clean)
2. The service status page which is a way of saying how functional different services are
3. In page alerts on service pages that link back to the service status.

For the purpose of this issue, we need to decide if the in page alerts (3

[2021-06-14 14:30] willguv commented on #255
@andybroomfield thanks for the info.

It seems to me that 3) and 1) are related needs:

- content designers need to add service status messages to selected pages
- councils want to show all current service status messages on a single page (this has been critical during lockdown, not sure about afterwards)

It feels like service updates on landing pages 1) isn't wanted by anyone and should be remov

[2021-06-14 15:12] andybroomfield commented on #255
There is definitely a need to display a service status alert message on selected pages inside the service stack.

For the purpose of this issue, the question is which module should be responsible for it, do people think service status module (do it when you write a service update) or should alert banner (do all the alerts in one place). would be the best place.

[2021-06-14 15:28] danchamp commented on #267
Related issue for summary fields: https://github.com/localgovdrupal/localgov/issues/243

[2021-06-15 07:49] finnlewis commented on #251
This is done, I think! :)

[2021-06-15 07:49] #251 closed, assigned to finnlewis

[2021-06-15 13:38] andybroomfield commented on #255
@willguv Planning on BHCC is using service updates recently.
https://www.brighton-hove.gov.uk/content/planning

[2021-06-15 14:16] willguv commented on #255
Thanks for the examples @andybroomfield

Do you know if these were created by Chloe or Nikki, or the planning team?

Many thanks

[2021-06-15 15:39] willguv opened #268 "[NOT DOING] Short url for survey"
I'm giving lots of presentations at the moment (like the Digital Leaders CLG chat this Friday) and it would be really handy to have a short/ easy to remember url for surveys

The current survey is at https://forms.gle/guPKxbKt9QkcLXrM6

Could we set up localgovdrupal.org/survey and repoint it?

[2021-06-15 15:55] finnlewis opened #269 "Git branch naming conventions - baseline guidance."
We've not written down our git branch naming conventions yet, but they have been emerging.

So here's a starter on the Wiki: https://github.com/localgovdrupal/localgov/wiki/Git-branch-naming-conventions

Happy to have further discussion and amend.

Any comments @andybroomfield @Adnan-cds @cjstevens78 @markconroy @msayoung @stephen-cox @ekes @danchamp ?

Here's the chat from Slack:

[2021-06-15 16:42] danchamp commented on #269
@finnlewis An agreed standard would be good. I've no preference for the actual format so long as it's easy to parse as  @stephen-cox said.

I've used both fix and feature as prefixes, agreeing with the definition from @andybroomfield above.

I'd be happy with the proposal on the wiki.

[2021-06-16 08:57] markconroy commented on #269
I agree with Dan's thoughts. Happy to go with this.

[2021-06-16 12:05] msayoung commented on #265
For now, given there are other conversations about the rest of the site, I propose we just replace the current section called Config with a section called Features.

Each feature will have a section:
1. Introduction
2. Content designer docs (based on Croydon's) https://lbc-cdn-corpwebsite-p2.azureedge.net/design-and-content-guidelines/patterns/content-types/directories
3. Technical docs (based on

[2021-06-16 13:18] danchamp commented on #265
@msayoung This looks really good to me, very happy to proceed with this structure.

[2021-06-16 14:42] finnlewis commented on #265
Looks good to me too @msayoung !

If we're covering some things in Readme files, we can just cross linked where needed. If some bits might want to be duplicated, I don't see being a huge problem.

[2021-06-16 14:45] willguv commented on #265
@msayoung makes perfect sense, thank you!

[2021-06-16 16:07] finnlewis opened #270 "Could not apply patch! Skipping. The error was: Cannot apply patch https://www.drupal.org/files/issues/2020-12-08/3092181-142-9X_0.patch"
Since Drupal core 9.2, this patch fails

[code]

[2021-06-16 17:06] stephen-cox commented on #259
@willguv and anyone else who maybe interested, the work on implementing the sitewide search is ready to be tested here: https://test.localgovdrupal.org/search

I will put together all the PRs associated with this tomorrow, but please let me know if you have any feedback on the implementation so far.

[2021-06-17 11:35] stephen-cox commented on #256
@andybroomfield I'm looking at adding an editable header menu that is installed by default along with some footer blocks. Are you aware of any work that has been done on this sort of thing already?

[2021-06-17 12:25] markconroy commented on #259
Hi @stephen-cox

This is looking really nice, thanks.

I don't think we should have `role="alert"` on every search result, and think it would be better to use `article` for the container element instead of `div`. Is what is currently there just default out of the box stuff from Drupal? If so, then maybe it's right to use it.

[2021-06-17 13:19] stephen-cox commented on #259
@markconroy Thanks. Good catch on the search result HTML. There is some basic theming for the sitewide search in locagov_theme and have updated the templates. There's a PR for the theming changes here: https://github.com/localgovdrupal/localgov_theme/pull/195

[2021-06-17 13:41] stephen-cox commented on #256
@willguv The header already include a logo and the main navigation menu, so the bulk of this is ensuring content designers have the correct permissions.

For the menu, Drupal comes with an 'Administer menus' permission this allows access to create and edit any menu on the site. Is this too lax? If so I'll look at solutions to restrict which menus a content designer can edit.

For the logo, Drupal

[2021-06-17 13:52] willguv commented on #256
Hi @stephen-cox this feeds into the content lifecycle working group conversation we've been having.

I think these permissions are OK to grant, providing they're assigned to an appropriate role

See @finnlewis' user stories which sets out proposed new roles

https://localgovdrupal.slack.com/archives/C01TS349XCY/p1623772892001100

Feels like this is suitable for a "content administrator" and I can

[2021-06-17 16:14] markconroy commented on #259
Thanks @stephen-cox
I've left a review of that PR.

[2021-06-17 16:24] andybroomfield commented on #256
So as a rule at BHCC we don't allow the header and footer to be editable by content design team, as that's a more formal change that needs to be signed off.

Also I think a lot of it is hard coded, but the direction of travel is to make it the Drupal way. However some things are config and shouldn't generally be changed unless a dev request.

That said, changing a logo is under appearance if the r

[2021-06-17 16:26] andybroomfield commented on #256
@stephen-cox As the user story is only edit logo and menu, I think there is a module to grant limited permissions over certain menus

[2021-06-17 16:31] willguv commented on #256
@andybroomfield this is useful - thanks. I can add it to the discussion tomorrow

[2021-06-18 10:49] willguv commented on #259
@stephen-cox looks great. My only questions are:

- what's the h1 wording?
- what's the button label? Haven't seen "Apply" used anywhere, and GOV.UK seems to use an icon these days https://www.gov.uk/search

[2021-06-18 11:30] msayoung commented on #259
Apply" is what we have on the search on events listings etc : https://localgovdrupal.agile.coop/events  and directories https://localgovdrupal.agile.coop/localgov-drupal-collaborators

[2021-06-18 11:33] danchamp commented on #259
It's the Drupal default, isn't it? On news it was changed to 'Search'.

One of 'Submit', 'Search', or a bare icon with an appropriate text alternative would be my preference.

[2021-06-18 11:42] willguv commented on #259
@msayoung that will teach me to pay attention :)

[2021-06-18 13:49] msayoung commented on #259
I don't mind what we use, but we should be consistent.

If the input label is Search, then the button label could be Submit / Apply or just the icon (with an accessible label) .
Who's going to make this decision?

[2021-06-18 14:32] danchamp commented on #259
I think this provides persuasive evidence for a bare icon:

https://github.com/alphagov/govuk-design-system-backlog/issues/132#issuecomment-378536462

(Without the placeholder text.)

[2021-06-18 14:42] willguv commented on #259
I think follow Gov.uk on this occasion

[2021-06-21 17:23] msayoung commented on #259
@stephen-cox
If I've interpreted @danchamp correctly, I think we just need to add a `.visually-hidden` class to the <span> surrounding the button text.
(I'm suggesting that over alt text as the icon is currently loaded via a css background image)

[2021-06-21 17:29] msayoung commented on #265
I've moved things around and put in some content to demo - you can see https://deploy-preview-50--trusting-noyce-aebebc.netlify.app/features/

The section previously known as Config, now lives in General : https://deploy-preview-50--trusting-noyce-aebebc.netlify.app/features/general/

I've added in @jpoesen 's technical  documentation on alert banners https://deploy-preview-50--trusting-noyce-aebe

[2021-06-22 09:18] danchamp commented on #259
@msayoung @stephen-cox

That will work, preserving the hidden element as the accessible name.

Do you mean currently in LGD? localgov_theme uses Font Awesome as button::after (from the _directories.scss partial, oddly: https://github.com/localgovdrupal/localgov_theme/blob/9aca9ab6a60738dfa6b549fb6741638f406da7fc/assets/scss/lib/partials/_directories.scss#L145-L177)

I don't think there's a button

[2021-06-22 09:43] danchamp commented on #265
Very happy with this, nice work @msayoung!

Lots to do, this *should* be largely a one-time effort to get it populated, with updates being light thereafter? I'd be happy to be assigned a content type to work through.

[2021-06-22 10:53] #256 closed, assigned to stephen-cox

[2021-06-22 10:57] #266 closed, assigned to finnlewis

[2021-06-22 10:57] #223 closed, assigned to nobody

[2021-06-22 10:57] #246 closed, assigned to finnlewis, richard-s-rowley

[2021-06-22 11:20] markconroy commented on #259
I want to get theming done on this asap, but can't really without it being part of the profile since it's so many PRs in different repos.

It looks to me like we are all in agreement with most of what is currently done and the only thing we need to finalise is an approach to the submit button - icon vs text vs inline svg vs background image.

If that's the case, let's get this merged to the profil

[2021-06-22 11:37] stephen-cox commented on #259
There's a PR to add the search to the profile here: https://github.com/localgovdrupal/localgov/pull/273. I think the search module needs a code review before including into the profile.

@ekes @Adnan-cds @danchamp @andybroomfield do you have time to look over the [localgov_search](https://github.com/localgovdrupal/localgov_search) module?

There's also a bunch of PRs to add the necessary view mode

[2021-06-23 11:07] finnlewis opened #275 "Research : confirm developer interviews target list"

[2021-06-23 11:09] finnlewis opened #276 "Research: questions for phase 2"
Start preparing questions for the phase 2 interview questions.

[2021-06-23 11:10] willguv commented on #275
@finnlewis please give us your view on the following names. We've suggested 5 interviewees for each of the existing user groups (devs, content designers, product managers)

- Adnan Muhammad
- Andy Broomfield
- Paula Almerich (Front end at Zoocha/ Westminster)
- Dan Champion
- Justine Pocock

[2021-06-23 11:22] finnlewis opened #277 "Working group initiation: directories"

[2021-06-23 11:22] finnlewis opened #278 "Working group initiation: forms"

[2021-06-23 11:36] finnlewis commented on #242
We need to make a call on this to allow workflow scheduling.

@ekes mentioned the translations issue.

I we can confirm the preferred technical approach, with any caveats, we can the move on with https://github.com/localgovdrupal/localgov_core/issues/96

@stephen-cox @ekes over to you!

Demo anything we can at Friday's working group meeting would be fab!

[2021-06-23 14:14] willguv commented on #275
@finnlewis please let me know if you’re happy with this list above. I’ll then check everyone is OK to be interviewed

[2021-06-24 09:08] stephen-cox commented on #242
I have installed both these modules on the test site.

I have setup a coupe of pages in different languages to publish at different times. Neither seem to handle the scheduling of translations properly. Scheduling the main language to publish before the translation, published both versions, even though it's possible to schedule different times on each translation.

From https://github.com/localgov

[2021-06-24 11:11] finnlewis commented on #275
If we're limiting it initially to 5 interviews, does it make sense to interview Adnan and Andy rather than other newbies? Don't get me wrong, I'd love to hear Andy and Adnan's deeper thoughts and feelings on the project. However, they are both developers who instigated the project and have taken part in lots of retros, rather than developers who have joined the project with a new council. I think

[2021-06-24 11:15] finnlewis commented on #275
If so, maybe
 - someone from Waltham Forest,
 - someone from Microserve,
 - maybe Tanc (from Agile Collective) who came in blind on the Lambeth project?

[2021-06-24 11:34] willguv commented on #275
Thanks for thoughts Finn. I was thinking a mix of established and new people for this set of interviews, but will raise at the working group on Monday - see what Alex and @msayoung reckon

[2021-06-24 12:14] ekes commented on #242
To double-check this. It was what I had difficulty with above:- I could schedule from draft -> published; but while it was in draft I couldn't schedule published and then that to archived - so basically before going live setting both. This does work without workflow in scheduler, just doing published/unpublished.

[2021-06-24 12:48] ekes commented on #242
Scheduler issue with translations:-
https://www.drupal.org/project/scheduler_content_moderation_integration/issues/3032918

[2021-06-24 12:58] ekes commented on #242
I've not been able to repeat this with scheduled_transitions. Wondered if it wasn't something about latest revision, but not that either. Transitions are scheduled by revision & language.
The issue here might actually be that you _have_ to schedule the transitions per language. Although duplicating the transition for a language seems trivial.

[2021-06-24 13:01] danchamp commented on #242
We use Scheduler on a couple of client sites and it doesn't support anything other than toggling published/unpublished.

There was a sub-module in development at one point to provide more state transitions with Content Moderation but it was never released.

[2021-06-25 10:11] stephen-cox commented on #242
Having discussed this with @ekes  and the Content Workflow Working Group the decision has been made to go with Scheduled Transitions rather than Scheduler.

[2021-06-25 10:11] #242 closed, assigned to ekes, stephen-cox

[2021-06-25 10:42] msayoung opened #279 "anonymise the interview summaries"
Folder of anonymised summaries here: https://drive.google.com/drive/folders/1h4yrjvPl8iO1T-0-6afFqkhaEUyrY3lV

[2021-06-25 12:34] andybroomfield opened #280 "Backport latest profile release to 1.x branch"
Now #274 is merged, there needs to be a backport to the 1.x version of the profile

[2021-06-28 09:37] finnlewis commented on #275
Just chatted through this with @willguv - we're reaching out to a few others and will finalise at the meeting this afternoon.

[2021-06-28 10:08] finnlewis commented on #192
Just looking at this as it is assigned to me and on the beta project board. I think we can close this as the discussion was had and we're proceeding with the refactoring of the [localgov_base theme](https://github.com/localgovdrupal/localgov_base) with the working group guiding and reviewing the work.

[2021-06-28 10:08] #192 closed

[2021-06-29 10:45] #259 closed, assigned to stephen-cox

[2021-06-29 23:08] andybroomfield opened #282 "Prophecy version 2 required to run tests"
Tried to run phpunit tests in Drupal 9 / LocalGov 2 branches.

Expected?

[2021-06-30 10:43] willguv commented on #275
We agreed in the Research working group:

Justine
Paula
Andy
Jack
[one more recently joined - let's think about who this might be]

I'm intro-ing them to @msayoung as I write this

[2021-06-30 10:47] finnlewis opened #283 "Comms work Kick-Off"

[2021-06-30 11:54] finnlewis opened #284 "Review feedback on governance / working groups from Aaron"

[2021-07-01 09:58] willguv commented on #219
See here

https://docs.google.com/spreadsheets/d/1j4NA6jhffqxKtVMOCIeWNRlYkhwrU_5SEkyUOVEfm5s/edit?usp=sharing

[2021-07-01 09:59] willguv commented on #283
This is kicked off, we need to write another card for the Discovery work and other phases

[2021-07-01 13:36] finnlewis commented on #253
@stephen-cox

What is involved in moving to MySQL for running tests?

I'm happy to give it a go if you point me in the right direction.

(CC @Adnan-cds @ekes @andybroomfield )

[2021-07-01 14:07] finnlewis commented on #148
The Gin theme was included with https://github.com/localgovdrupal/localgov/pull/240

But it is not yet enabled and set as the default admin theme on a fresh install.

I think it should be!

[2021-07-01 14:15] willguv commented on #148
@finnlewis yes agree - shall we make this a part of the next sprint?

[2021-07-02 10:42] finnlewis commented on #276
Here are some questions:

https://docs.google.com/document/d/1U5rHy30Sl_5qDFzk7KhSGfzBqsuBOb6jKRGLNjd3j9I/edit

[2021-07-02 11:17] willguv commented on #224
I commented on https://github.com/localgovdrupal/docs/pull/48

[2021-07-02 12:43] stephen-cox commented on #253
To test using MySQL you can add a MySQL / MariaDB service to the [docker-compose.yml](https://github.com/localgovdrupal/drupal-container/blob/php7.4/docker-compose.yml) file in the Drupal container.

You'll also need to update the `sed` command that [sets the database connection details](https://github.com/localgovdrupal/drupal-container/blob/1ec26db9f9ff4dc6380a6a46a9d402dd925f0587/run-tests.sh#L

[2021-07-05 09:43] #148 closed

[2021-07-07 11:04] finnlewis opened #287 "Research: wrap up developer and phase 1 interviews."

[2021-07-09 11:03] stephen-cox opened #288 "Update blocks across all modules to use localgov_base theme"
Before we can enable the new localgov_base theme during a site install we need to ensure that all blocks will be positioned correctly be default.

[2021-07-09 11:04] stephen-cox opened #289 "Add localgov_base to profile"

[2021-07-09 11:14] #289 closed, assigned to stephen-cox

[2021-07-09 11:15] markconroy commented on #288
All blocks will be in the same regions, so we just need to update the theme they apply to from `localgov_theme` to `localgov_base`.

The only exception is the "Tabs" block, which should be moved to the new "Tabs" region.

[2021-07-13 10:49] finnlewis opened #292 "Comms - survey chasing"
Just a card to note that the communications work is kicking off with a push to contact more councils and encourage surveys by the end of next week.

[2021-07-13 10:55] finnlewis opened #293 "Comms - promotional website (shop window) plans"
This is a ticket to track progress on a new plan for a promotional website. Now that we have a communications team, we expect to make progress soon.

[2021-07-13 10:57] finnlewis opened #294 "Sprint goal: establish a steering group"
Noting this a sprint goal for sprint 6.

[2021-07-14 09:46] finnlewis commented on #276
Hi @msayoung and @AlexandraClark83 - this one is assigned to me.
I've read throught the questions linked to above and it all sounds good to me.
Is there anything specific you would like me to read more critically and help to improve?
Cheers,
Finn

[2021-07-14 12:26] msayoung commented on #276
Thanks @finnlewis
We've all reviewed and are happy with it for now. marking done

[2021-07-15 10:38] finnlewis commented on #287
Still one more interview...

[2021-07-15 11:01] finnlewis commented on #288
I see, so we will need to go through all the block config in each project and either change the placement or add another config/optional for blocks depending on the localgov_base theme

[2021-07-19 10:18] willguv opened #297 "Working group status over the break"
Let's run through the working groups and discuss what we think each should aim for by the time we return mid August

Base

Content lifecycle/ workflow

Research

Steering

Forms

[2021-07-19 10:38] finnlewis opened #298 "Create PR for the OpenReferral work by end of sprint"

[2021-07-19 10:43] finnlewis opened #299 "Blog post about the accessibility, the modules and the new localgov_base theme."

[2021-07-20 09:51] willguv opened #300 "Encourage partners and interested to take survey"
Send personal emails to partner councils and those who have expressed an interest who haven't responded to the survey

[2021-07-20 10:19] finnlewis opened #301 "Release notes: define standard for release notes (follow suit from Ekes and Stephen?)"

[2021-07-20 10:20] finnlewis opened #302 "Document how the localgov workflows module config can be installed to existing sites"

[2021-07-20 10:21] finnlewis opened #303 "Define comms strategy for communicating releases to content designers"

[2021-07-20 10:25] willguv opened #304 "Slide deck for 3rd anniversary of Local Digital Declaration"
Deck here
https://docs.google.com/presentation/d/1nROFdznn8Xz3-apDMdqRl_53y0Bx_UxY2QrltmLJTq8/edit?usp=sharing

Invite here
https://www.eventbrite.co.uk/e/celebrating-three-years-of-the-local-digital-declaration-tickets-161901841767

[2021-07-20 13:04] finnlewis opened #305 "Schedule meetings for "Front end working group""
We just met in the 'Base theme working group" and agreed to change the name to "Front end working group", but we did not schedule any meetings.

Neither Mark (lead) or Will (facilitator) were with us by the end, so we're creating this issue to remind us to schedule some meetings. Frequency and day / time to be decided.

See notes https://docs.google.com/document/d/1PPtq49S68DU6g3rh3X0N4UcyVZZx74wK

[2021-08-10 17:25] finnlewis opened #306 "Demo site has a problem"
I was trying to test some content management on the demo site.

When I went to

http://demo.localgovdrupal.org/admin/content

I got this:

[code]

[2021-08-10 17:28] finnlewis commented on #306
I see @willguv noted this on https://github.com/localgovdrupal/localgov_geo/pull/24#issuecomment-885618931

Also @ekes mentioned it somewhere.

I'll see if I can work it out, but would be good to fix if others have time.

[2021-08-11 10:23] stephen-cox commented on #306
@willguv I think we need to re-install the demo site to fix this. This will wipe out any content already on the site. Did you get anywhere with creating a homepage for the demo site?

[2021-08-11 10:59] willguv commented on #306
@stephen-cox no I haven’t yet, so you’re good to reinstall

[2021-08-11 12:53] stephen-cox commented on #306
This was due to the code being updated but not the configuration. I have reinstalled the demo site and everything looks to be working again.

This does highlight an issue when the workflows module was previously enabled and the recent workflow changes are pulled through. Are there any sites out there using the old workflow module? If so they will likely run into this issue as well. I can look into

[2021-08-11 13:46] finnlewis commented on #270
I think this is covered by changes in Gin that fix the paragraphs multiple drag handles.

[2021-08-11 13:46] #270 closed, assigned to nobody

[2021-08-16 16:05] willguv opened #307 "Discovery - content design onboarding meeting with Haringey"
- [ ] Schedule meeting with Ben, Tim, Haringey colleagues
- [ ] Ben to produce a script for the session, and run through
- [ ] Answer Haringey content design questions
- [ ] Record the session
- [ ] Collect learnings from the session to inform onboarding materials

[2021-08-16 16:11] finnlewis opened #308 "Screencast: content designer news pages"

[2021-08-16 16:11] finnlewis opened #309 "Screencast: content designer events pages"

[2021-08-16 16:11] finnlewis opened #310 "Screencast: content designer guide pages"

[2021-08-16 16:11] finnlewis opened #311 "Screencast: content designer step by step pages"

[2021-08-16 16:11] finnlewis opened #312 "Screencast: content designer services pages"

[2021-08-16 16:11] finnlewis opened #313 "Discovery - developer onboarding meeting with Haringey"

[2021-08-16 16:13] finnlewis opened #314 "Demo content: plan and facilitate demo content group session."

[2021-08-16 16:14] finnlewis opened #315 "Add demo menu items to the Services menu"

[2021-08-16 16:29] finnlewis opened #316 "Restrict paragraph components to the right content type (service landing page, subsites etc)"
closing, as a duplicate of localgovdrupal/localgov_paragraphs#254

[2021-08-17 13:17] finnlewis commented on #306
Thanks @stephen-cox - closing.

[2021-08-17 13:17] #306 closed, assigned to stephen-cox

[2021-08-18 11:18] finnlewis opened #317 "LocalGov Base theme - set as default theme in profile."
On a default install, the default theme should be localgov_base theme.

- [x] Do non-beta release (https://github.com/localgovdrupal/localgov_base/issues/119)
- [x] Update block settings for other modules (potentially tedious - with a load of PRs)
- [x] Set localgov_base as the default theme in the install profile.

[2021-08-18 11:24] finnlewis opened #318 "LocalGov News - finalise addition to default install"
Mark mentioned that the way the facets is placed in localgov_news is different from others. Need to check this.

@danchamp anything else we need to think about?

[2021-08-18 11:28] finnlewis opened #319 "Arrange a workshop about legal entity for the future of LocalGov Drupal."
Issue to remind us to set up and run a workshop to confirm our preferred legal entity for the future governance and sustainability of the LocalGov Drupal project and community.

[2021-08-18 12:09] finnlewis opened #320 "Services pages rich text area and reusable components."
The default service pages currently have a rich text field for the body and a separate reusable component paragraphs field.

Croydon Council have been discussing the need for embedding paragraphs within the main body rich text field. The motivation for this is to embed a reusable contact card in the flow of text.

One problem with embedding entities in rich text fields is the complexity it then pr

[2021-08-18 12:50] finnlewis commented on #307
Woops! I closed it by accident, sorry @willguv

[2021-08-18 12:52] finnlewis commented on #313
Hi @willguv

Just to check, is this with me to set up a meeting with developers (and anyone) from Haringey to do a general intro and field questions?

[2021-08-18 15:18] willguv opened #321 "Brief Sally on design needs"
We need the following:

- [ ] design for the shop window website, using Sally's [previous slide deck work](https://docs.google.com/presentation/d/1YhgnaN0W-KXxo9AofpCqTuclWpNiXkjM5xG1lIFRbls/edit?usp=sharing) as a jumping off point
- [ ] email newsletter template for Mailchimp
- [ ] a mission patch for the Beta phase SPLIT INTO ANOTHER CARD
- [ ] basic branding work

Let's discuss each and split i

[2021-08-18 16:57] andybroomfield commented on #320
Why not (and BHCC Did some very initial discovery) use Drupal core layout builder, which means your can embed multiple text blocks, paragraph blocks and system blocks... Or use layout paragraphs like sub site pages?

Its not that adding paragraph support to body is nesecarly bad, but it is yet another way of embeding and managing content and another thing for content designers to learn. I think we

[2021-08-19 16:21] Adnan-cds commented on #320
This feature is an [optional extra](https://github.com/localgovdrupal/localgov_page_components/tree/feature/wysiwyg-embed#wysiwyg-integration).  So hopefully wouldn't cause any issue to those sites that don't want it.

[2021-08-20 11:00] finnlewis commented on #303
Hi @MichaelDCR and @TJHDCR . this is the issue to remind us to confirm a product release communications process.

What do we say on releases like https://github.com/localgovdrupal/localgov/releases/tag/2.1.2 ?

There are https://github.com/localgovdrupal/localgov_workflows

How does this get communicated in the newsletter?

[2021-08-20 15:22] stephen-cox commented on #317
There's an issue with the theme (localgovdrupal/localgov_base#122) and a proposed fix for it (localgovdrupal/localgov_base#123) that needs to be resolved before the new Base theme can be set as default.

[2021-08-23 14:36] stephen-cox commented on #317
Installing a new site with the new theme enabled by default displays an empty error status message on all pages apart from the search results page. This is because the header search field is marked as required: https://github.com/localgovdrupal/localgov_search/issues/6

[2021-08-31 09:09] stephen-cox opened #323 "Undefined class constant 'CONTRIBUTOR_ROLE'"
The error below is thrown when trying to use modules that define content types when localgov_core is a version less than 2.1.

Simple solution is to bump the core requirement for all these modules to ^2.1

[code]

[2021-08-31 09:10] stephen-cox commented on #323
Related issue localgovdrupal/localgov_workflows#2

[2021-08-31 11:20] markconroy commented on #320
I'd be **very** against the idea of embedding paragraphs in a wysiwyg. I'm terrified of the idea that you could have wysiwyg that would embed a text paragraph (which itself is a wysiwyg) which could also have another text/box link/whatever embedded inside that (which could also have more embedded inside that), etc etc etc

We need to figure out:
 - What's the issue we are trying to solve
 - What's

[2021-09-01 09:09] andybroomfield opened #324 "Resolve Scheduled alert banners implementation"
Currently the alert banners are not workflow enabled entites.
There is a PR (https://github.com/localgovdrupal/localgov_alert_banner/pull/159)
that will add a content moderation workflow to the alert banner type and the right hook for scheduled transitions.
There is discussion in that PR whether the alert banner module, or localgov_workflows should be in charge of implementation of this.
However i

[2021-09-01 09:17] andybroomfield commented on #324
<img width="1424" alt="Screenshot 2021-09-01 at 10 14 16 am" src="https://user-images.githubusercontent.com/1467480/131645678-4672161f-444d-4c61-a199-8b650d9d89d9.png">
Blank scheduled transtions screen.

<img width="1424" alt="Screenshot 2021-09-01 at 10 14 59 am" src="https://user-images.githubusercontent.com/1467480/131645719-08c2f7a7-d9e3-4cb8-8f00-e2b9f5bcbc6e.png">
Scheduling an alert banner

[2021-09-01 09:24] andybroomfield commented on #324
Alternative method, putting the scheduled date fields directly on the alert banner (This uses its own cron method).

<img width="1244" alt="Screenshot 2021-09-01 at 10 21 44 am" src="https://user-images.githubusercontent.com/1467480/131647022-d975f6e9-7e29-4c7e-bd1d-caf442b27125.png">
Scheduled publishing fields on the alert banner entity.

[2021-09-01 09:29] andybroomfield commented on #324
Pros of scheduled transitions: Uses the same system as scheduling content (so no learning there is a different way to do things)
Cons: Adds complexity to the module (requires using workflow, but then needs to hide those underlying mechanics less a site builder tampers with someone and breaks the alert banner)

Pros of direct on entity method: Adds the publishing / remove date as editing the banner

[2021-09-01 09:58] finnlewis opened #325 "Research: conclude phase 2 interviews"
This issue is to remind us to conclude the phase 2 interviews in the next 2 weeks.

[2021-09-01 10:01] finnlewis opened #326 "Research / Comms: generate a list of content designers and developers within the LocalGov Drupal community"
Generate a list of council digital team members (content designers and devs etc) so that we can invite them to get involved

[2021-09-01 10:07] finnlewis opened #327 "Research / Comms: testimonials - confirm the list of testimonials that we can use on the website."

[2021-09-01 10:17] finnlewis opened #328 "Governance: collate all work to date into a central place"
We have lots of information around governance ... Aaron would like to bring them all together into a single source / index / overview.

[2021-09-01 10:23] finnlewis opened #329 "Shop Window Website: create the initial site, staging / production sites etc"

[2021-09-01 10:25] finnlewis opened #330 "Shop Window Website: initial theme based on design"

[2021-09-01 10:36] finnlewis opened #331 "Shop Window Website: Write and publish first pass of content"
Once we have a new "shop window" website installed and the theme starting to look good, we'll need to add the initial draft of content. Aiming for 15 pages initially.

[2021-09-01 13:04] finnlewis commented on #329
@msayoung - I think you are working on this...

[2021-09-01 16:04] #317 closed, assigned to stephen-cox

[2021-09-01 18:21] stephen-cox commented on #323
Should be fixed with the latest raft of fixes and releases.

[2021-09-01 18:21] #323 closed, assigned to nobody

[2021-09-02 09:59] MattOz-CDS opened #333 "Update Admin Toolbar to version 3 in 1.x branch"
Maybe we should consider updating the [Admin Toolbar ](https://www.drupal.org/project/admin_toolbar)to the version 3x branch as the version 2x branch is no longer supported.

The 8.x-2.x version is a refactor of the way the Admin Toolbar Extra Tools module declares its links. Moreover some improvements have been integrated, eg. some user roles can not be deleted so the module does not provide link

[2021-09-03 09:57] finnlewis commented on #314
@benhillsjones @willguv @markconroy @msayoung @ekes @danchamp

I've scheduled a session on Friday 10th 10am - 12pm for us to dive in a co-create demo content ready for a more fully fledged demo module.

We might be able to make some progress before then individually, so do comment here if you are doing any work or have thoughts.

It would be great to have:

- [ ] a home page that links off to exam

[2021-09-03 10:09] finnlewis commented on #319
@aaronhirtenstein has booked Mark Simmonds to join our steering group meeting on Monday 13th September from 12:00 - 13.30.

I've updated the invitation and will try to encourage all the council people on the steering group to be present.

CC @willguv

[2021-09-03 10:10] finnlewis commented on #319
@aaronhirtenstein I wonder if there are any questions that we might want to share ahead of the session to allow people to mull them over before we meet.

[2021-09-03 10:37] finnlewis commented on #326
@TJHDCR do you think we should add this to Clinchpad or Mailchimp or just a spreadsheet?

[2021-09-03 10:59] MichaelDCR commented on #326
@finnlewis - in a spreadsheet, we can then import the contacts to Mailchimp if and when needed

[2021-09-03 11:33] ghost commented on #326
@finnlewis / @MichaelDCR - they should all be on mailchimp re the internal email list - but as they can unsubscribe from this we also need to hold elsewhere also. spreadsheet prob best as clinch pad won't let you filter contacts by job role.

[2021-09-04 11:05] ekes opened #334 "Entity Reference: unpublished items"
Editors can't reference unpublished nodes; when creating content it is a common requirement to create both overview and linked pages while unpublished.

Modules certainly affected:
 * LocalGov Services (landing page)
 * LocalGov Guides (overview)
 * LocalGov Step-By-Step (overview)

There is the additional factor that this ideally should also work for content in workflow, ie an editor can add cont

[2021-09-06 10:38] aaronhirtenstein commented on #319
Yep I can share the Miro board that Mark has created and preface that with some questions / things to consider.

[2021-09-06 15:34] stephen-cox commented on #329
@willguv For the initial shop window shop window site I will need some DNS records configured.

Can you please add:

CNAME record: production.localgovdrupal.org => localgovdrupal.agile.coop.
CNAME record: stage.localgovdrupal.org => localgovdrupal.agile.coop.

[2021-09-07 14:09] Adnan-cds commented on #334
Thanks for creating such a comprehensive issue Ekes :)

[2021-09-07 15:22] willguv commented on #329
@stephen-cox DNS records should now be in place - sorry I missed this

[2021-09-09 17:04] andybroomfield opened #339 "Gin is fixed at alpha34"
in the profile composer.json `"drupal/gin": "3.0.0-alpha34",`

Is there a reason we are locking to this version?

[2021-09-10 10:08] finnlewis opened #340 "Page components on service pages allow all the"
When creating a service page, there is a "page components" field at the bottom.

This currently allows a huge numebr of paragraphs.

I think this was originally intended for a couple of reusable paragraph components.

@Adnan-cds @cjstevens78 @willguv do you know what the intended paragraph components are?

![image](https://user-images.githubusercontent.com/326588/132837904-9e44807e-2b9f-4307-82f3-

[2021-09-10 10:14] Adnan-cds commented on #340
Sorry Finn, I don't know really.  There is no restriction on this field in the Croydon site at the moment.  I am copying Tom in case he has any thoughts. @tom-steel

Perhaps we can consult editors.  Copying @benhillsjones.  Ben, any opinion about what Page component types you would ever want to use in Service pages?

[2021-09-10 10:21] finnlewis commented on #340
Thanks @Adnan-cds ! I assume that "Fact box" and "Contact" are of potential use, being things that you might want to change in one place and update in multiple. The others I am less sure of.

[2021-09-13 13:16] finnlewis commented on #340
Just discussing this with @Adnan-cds

Just confirming that we've seen the following paragraph components in use on Croydon:

- Documents
- Link
- Link and summary
- Contact

So perhaps we limit the component field on the entity browser to the above for a default install.

[2021-09-13 13:18] finnlewis commented on #318
@danchamp just jumping on this one.

@ekes is looking at this https://github.com/localgovdrupal/localgov_news/pull/43/checks?check_run_id=3566303459

Once we've got that merged, we can add the localgov_news project to the default install.

[2021-09-13 13:25] willguv commented on #340
Yes definitely in favour of this, thanks for pursuing @finn

[2021-09-13 14:40] benhillsjones commented on #340
Hi, yes agree those 4 make sense, main two I use are links and contacts

[2021-09-13 14:40] benhillsjones commented on #340
Plus documents when at Croydon

[2021-09-14 09:40] finnlewis commented on #326
Pushing this forward to next sprint and passing to @willguv

[2021-09-14 09:46] finnlewis commented on #327
In sprint review, @MichaelDCR and @TJHDCR don't have any testimonials that we are able to put names to yet.

We are able to use testimonials anonymously.

We think there are still some requests in flight that might come back with approval to put names to.

Meanwhile, @willguv will reach out to some contacts for attributable testimonials.

[2021-09-14 10:02] finnlewis commented on #327
@AlexandraClark83 joined and shared that we do have 4 testimonials with names at the back of the report. See:

https://docs.google.com/document/d/14FLolvVhZr2hUqavj_O2SXAIYSbMbgQD17pfnNnqeQM/edit#heading=h.pri4n9c9k2cu

[2021-09-14 12:14] MichaelDCR commented on #221
think this can be closed?

[2021-09-14 12:45] finnlewis commented on #221
Yes, good call @MichaelDCR !

[2021-09-14 12:45] #221 closed, assigned to willguv

[2021-09-14 13:22] MichaelDCR opened #343 "Shop Window Website: write case study content"
Rough first draft is fine.

Case study for a council (eventually 2 councils) with any facts and figures, as a persuader.

Suggestions:
- How they deployed (part of site / whole site)
- Tangible benefits e.g. Better Service Provision, Control and Ownership, Cost Savings, Risk Reduction
- Ethos
- Juicy quote from senior council figure

[2021-09-14 13:35] MichaelDCR opened #344 "Shop Window Website: write Developer intro content"
Rough first draft is fine, we can polish

This is for a sales-type page that gives an overview of LGD for developers and why it's just a whole bunch of good things for them. So doesn't have to be deep in technical detail, c400 words should be fine, longer is fine too :)

We will add some nice quotes.

Suggestions for copy (but you will have a much better idea of what to say for devs):
- for in hou

[2021-09-14 13:55] MichaelDCR opened #345 "Documentation site - overview for Devs"
You may already have an issue for this, apologies if so but thought we .

Write a brief technical overview for Devs - https://localgovdrupal.org/devs/
Similar to that for Content Designers - https://localgovdrupal.org/content/#general-drupal-how-to

Have created a related issue for Finn to write a sales-type overview on the main site - https://github.com/localgovdrupal/localgov/issues/344

Talking

[2021-09-14 13:59] MichaelDCR opened #346 "Documentation site - overview for Designers"
https://localgovdrupal.org/design/

For now mainly to offer reassurance about Design

- Overview of design, wireframes and research so far.
- Some screenshot examples of LGD in action.
- Terminology explained - related to Drupal theming,

possible also
- Workflow, how to make requests / contribute / raise issues
- Slack channel.

[2021-09-14 14:03] MichaelDCR opened #347 "Shop Window Website: permissions"
Tim - Edit permissions and access to News

Michael - access to blocks / menus

[2021-09-14 14:08] MichaelDCR opened #348 "Shop Window Website: Page Section content (layout) area error"
this may be me attempting to do things before they are ready - if so just close this

Am unable to choose a layout with more than 1 column:
- using the Page Builder
- I select 'add a Page Section' and get the menu to select from 4 options
- if I choose anything other than 'Flexible' layout it just spins and I need to refresh / leave page

(the image icon for Page Section is broken, which may be co

[2021-09-14 14:10] MichaelDCR opened #349 "Shop Window Website: minor theming issue"
on https://production.localgovdrupal.org/
in Chrome (not in FF)
the 3 column layout has a vertical gap/white line in the middle of the middle (blue) column link & summary box

[2021-09-14 14:39] MichaelDCR opened #350 "Shop Window Website: write 'story of LGD'"
first draft required giving as brief or fulsome a history as you want

if it is long will be a separate page, otherwise will go on About landing page

- roots
- funding
- success
- go big on expertise

MW can add all the Sprints and briefly review what they achieved (each has a blog to link to and take the content from)

[2021-09-14 14:45] MichaelDCR opened #351 "Shop Window Website: Starter Pack(s)"
Single Google Drive doc for all work roles, or could split by role.
Sally to Design google Doc

- Intro content including slack channels
- links to the relevant Docs areas

- Content Designers: overview (from main site page), detail based on Ben’s doc

- Devs: overview (from main site page), install, config,

- Theming (Dan and Maria - their experience of doing it as front end devs)

- Sysadmin de

[2021-09-14 14:58] msayoung commented on #348
I fixed that thing.
:)

[2021-09-14 14:58] #348 closed, assigned to msayoung

[2021-09-15 07:44] finnlewis opened #352 "Require 2.x branch of localgov_demo"
We have updated demo content on the https://github.com/localgovdrupal/localgov_demo/tree/2.x branch, which needs to be included in the default install of the 2.x branch.

[2021-09-15 10:37] finnlewis opened #355 "Document which branches we are supporting"
We are focussing on the Drupal 9 branches, which in some case is the 2.x branches.

Drupal 8 end of life is November. https://www.drupal.org/psa-2021-2021-06-29

It is a fair amount of work to back port work that might not be needed.

- [x] Document this in the README files in localgov profile.
- [ ] Document this in the README files in other relevent projects.

[2021-09-15 11:23] #324 closed, assigned to andybroomfield

[2021-09-15 11:29] msayoung opened #364 "Documentation on how to get set up without Docker / Lando"

[2021-09-15 11:29] finnlewis commented on #245
Note: perhaps add docs about Docker desktop and how to use without.

[2021-09-15 11:31] msayoung commented on #292
I think this can be closed now @finnlewis

[2021-09-15 11:37] msayoung opened #356 "Finalise report on qual and quant findings"

[2021-09-15 11:39] msayoung opened #357 "Present costs and potential revenues spreadsheet to steering group for sense check"

[2021-09-15 11:42] msayoung opened #358 "Prep for Product Group reboot"
Set up a date and invite people for a meeting in Sprint 10

[2021-09-15 11:47] msayoung commented on #257
There is one in the demo module, don't think it is in the default install.

[2021-09-15 11:48] #258 closed, assigned to nobody

[2021-09-15 11:49] #316 closed, assigned to nobody

[2021-09-15 12:07] #325 closed, assigned to AlexandraClark83

[2021-09-15 12:08] #321 closed, assigned to willguv

[2021-09-15 13:07] #293 closed, assigned to willguv, MichaelDCR

[2021-09-15 13:07] #292 closed, assigned to nobody

[2021-09-15 13:07] #287 closed, assigned to msayoung

[2021-09-15 13:07] #279 closed, assigned to msayoung

[2021-09-15 13:07] #276 closed, assigned to msayoung, AlexandraClark83

[2021-09-15 13:07] #275 closed, assigned to willguv

[2021-09-15 13:25] msayoung commented on #257
It is in the install profile.

[2021-09-15 14:50] finnlewis commented on #339
No reason that I know of, looks like it was me!

See https://github.com/localgovdrupal/localgov/blame/2.x/composer.json

Sorry!

 I will fix.

[2021-09-16 08:37] #339 closed, assigned to nobody

[2021-09-20 08:52] #314 closed, assigned to finnlewis

[2021-09-20 11:12] finnlewis opened #361 "Business planning: survey existing councils for membership fees"
@willguv to talk Dave Briggs to solicit help talking to councils in the current cohort to confirm if the membership fee for LocalGov Drupal is a goer.

[2021-09-20 11:15] finnlewis opened #362 "Business planning: talk to suppliers to explore membership / accreditation fee"
As part of the future business plan, we'd like to explore the supplier accreditation / membership idea.

We need to define the ask / benefits and gather input from current suppliers.

[2021-09-20 11:19] finnlewis opened #363 "Business planning: confirm population and budgets for all councils."
Ideally we want to get a list of all UK councils' population and total budget.

I was looking here https://www.gov.uk/government/statistics/local-authority-revenue-expenditure-and-financing-england-2021-to-2022-budget but could not find the total budget for each council.

[2021-09-20 16:57] willguv commented on #326
I've created a short form as I think it's the easiest way to circulate to councils and receive the data in a useful format

What do you think?

https://docs.google.com/forms/d/e/1FAIpQLSdcg72kdSmGtssrf78-MELpHUiEEb24WnhrZE284z9vOU7pgw/formResponse

@AlexandraClark83 @TJHDCR  @MichaelDCR @finnlewis

[2021-09-21 08:48] finnlewis commented on #326
@willguv I don't seem to have permission to see the form.

[2021-09-21 09:05] willguv commented on #326
@finnlewis should be fixed now

[2021-09-21 14:40] willguv commented on #361
We're saying...

- there's not likely going to be grant funding beyond the next CLG bid (12 months max) so we need to find ways to pay for supporting the community, onboarding, some technical development of the platform
- there's a voluntary donation that councils pay between £1-10k depending on population and budget (CCIN model)
- money supports future development and onboarding of councils (pay

[2021-09-21 15:58] Adnan-cds opened #365 "Version requirements for localgov profile's dependencies are too strict"
Hello,
I was trying to update the localgov_alert_banner module in a fresh localgov test site but it wouldn't budge.  Turned out even though the latest version for localgov_alert_banner is 1.2.0, the localgov profile's version [requirement demands](https://github.com/localgovdrupal/localgov/blob/4d6720cf7d068d193e32550e31e6913a08a31a05/composer.json#L22) ```~1.1.0``` which I feel is too strict.  Th

[2021-09-22 07:14] stephen-cox commented on #365
With the release of Alert Banner 1.2.0 we should have also updated the 1.x and 2.x version of the profile.

Pinning minor versions in the profile was done so that changes that needed planning (such as the field rename) were done consciously and not accidentally, but I do feel this is too strict and we should be pinning major versions, so I support this change.

[2021-09-22 08:59] finnlewis commented on #365
I agree, let's replace the tildes with carets!

It also follows what other distributions do, like

- https://github.com/thunder/thunder-distribution/blob/6.2.x/composer.json
- https://git.drupalcode.org/project/lightning/-/blob/8.x-3.x/composer.json

I'll create a branch and a pull request.

[2021-09-22 10:00] andybroomfield commented on #365
From @ekes on the PR #366

Is there a reason we changed as it used to be that profile would always pull in latest releases?
There is an argument that having stablilty in the profile is benificial and new features get a minor version release of profile to upgrade to them.
(Its mute in BHCC as we don't use the profile, were looking at integrating modules directly).

[2021-09-22 13:16] finnlewis opened #367 "Bump localgov_alert_banner version"
We need to be including the latest localgov_alert_banner to support the latest localgov_demo changes.

See https://github.com/localgovdrupal/localgov_demo/pull/59#discussion_r713718898

While we wait for discussion to reach conculsion on https://github.com/localgovdrupal/localgov/issues/365 and https://github.com/localgovdrupal/localgov/pull/366 I'll create a PR for specifially the version bump.

[2021-09-22 13:19] finnlewis commented on #365
While we discuss this.... I've created a smaller pull request to just mump the localgov_alert_banner version

https://github.com/localgovdrupal/localgov/pull/368

[2021-09-22 16:36] andybroomfield commented on #361
Just to add here, project is open source, and unless there are plans to restirct that, simply wanting to use to code  including updates shouldn't come with a paywall.

[2021-09-22 16:39] willguv commented on #361
No plans to change the licensing arrangements, or put up a paywall. We're going to research councils' views on a voluntary scheme that orgs can contribute to if they can afford it.

[2021-09-23 09:24] finnlewis opened #370 "Bump localgov_demo version to 2.1.0"

[2021-09-23 09:50] finnlewis commented on #361
@andybroomfield we are only exploring optional membership fees as a route to generating revenue for the core team and sustainability of the project.

Just to confirm, I too am of the opinion that the distribution is and always should be free and open source under the GPL2 (or greater) licence.

Membership of the future organisation should be optional and include potential benefits as well as suppo

[2021-09-24 14:55] finnlewis commented on #245
@j4-m this is on my list of things to look at. Did you make any suggested changes to the main README already?

[2021-09-27 13:32] #365 closed, assigned to nobody

[2021-09-27 13:53] finnlewis opened #374 "Add localgov_openreferral to the installation profile"
We'll need to include https://github.com/localgovdrupal/localgov_openreferral in the installation profile to allow the open referral https://github.com/localgovdrupal/localgov_directories/pull/136

[2021-09-28 14:43] finnlewis commented on #74
@j4-m you were asking about this today.

So @andybroomfield merged in this: https://github.com/localgovdrupal/.github/pull/8

What else do we need to do to enable templates for issues / bug reports / feature requests etc?

[2021-09-29 11:00] finnlewis opened #376 "Review config import / update hooks for new configuration items"
@ekes has discovered the right way do this, so we need to review modules to make sure we are doing this correctly.

@ekes could you update this please?

[2021-09-29 11:15] finnlewis commented on #298
See https://github.com/localgovdrupal/localgov/pull/375

[2021-09-29 11:15] #298 closed, assigned to ekes

[2021-09-29 11:51] andybroomfield commented on #74
Does each repo need to update to get the template?
There is a setting in each repo under issues that says set up templates, so maybe it has to be done there?

[2021-09-29 16:24] stephen-cox commented on #253
@Adnan-cds @finnlewis I have tun a test of the different methods of running Github actions.

The timings were:
 - Paratest and SQLite: 14m 1s
 - Paratest and MariaDB: 15m 10s
 - PHPUnit and SLQite: 28m 56s
 - PHPUnit and MariaDB: 29m 38s

You can see the test run here: https://github.com/localgovdrupal/drupal-container/runs/3746410992?check_suite_focus=true

Using MariaDB and Paratest is only a mi

[2021-09-29 16:35] finnlewis commented on #253
Wow, thanks @stephen-cox , looks good to me, let's do this!

[2021-09-30 09:27] j4-m commented on #74
@andybroomfield unfortunately I don't have the access to try that out on the LGD repos... are you able to try it out?

[2021-09-30 14:14] finnlewis opened #378 "Move Tech Group Drop-in to Zoom and advertise."
The fortnightly call is currently in Google Meet.

This is a problem if the person who creates it is not there to let people in.

I'll move it to Zoom and see how that goes. This should allow more people to actually 'drop in' too.

[2021-10-01 13:48] finnlewis opened #379 "LocalGov Scarfolk sub-theme - set as default on install"
The default install of the localgov profile currently sets the localgov_base theme as the default theme.

The localgov_base theme is meant to be a minimal starting point and does not include 'nicer' webfonts.

Any council using the distribution is expected to create a sub theme and customise to their own end.

We want to show the distribution off in the best light for testing, so I think it makes

[2021-10-04 09:59] andybroomfield opened #381 "Update test failing for step by step"
Discovered on #336 but I see this on all Profile PRs:

The following is now a consistent fail (don't think its the test environment).

Behat\Mink\Exception\ElementTextException: The text "Appointments with adult social care staff are now happening on the telephone." was not found in the text of the element matching css "main article .alert-info".

[2021-10-04 10:38] finnlewis opened #382 "Write short intro to demo theme."

[2021-10-04 13:57] finnlewis opened #383 "Increase version of localgov_alert banner on the 1.x branch"
Localgiov_alert_banner is pinned to ~1.1.0

We need it to be 1.2.0

https://github.com/localgovdrupal/localgov/blob/1.x/composer.json#L22

[2021-10-05 15:30] #379 closed, assigned to nobody

[2021-10-05 15:36] #334 closed, assigned to ekes, Adnan-cds

[2021-10-06 15:51] #253 closed, assigned to finnlewis, stephen-cox

[2021-10-11 12:28] #255 closed, assigned to nobody

[2021-10-11 12:29] andybroomfield commented on #159
@ekes is building this as [localgovdrupal/localgov_examples](https://github.com/localgovdrupal/localgov_examples)

[2021-10-11 22:49] finnlewis commented on #245
Yo yo @stephen-cox - just started a PR with some minor changes to the README, on this branch: https://github.com/localgovdrupal/localgov/tree/feature/245-update-readme

Removing the `--stability dev` from the composer command, is that right?

https://github.com/localgovdrupal/localgov/pull/391/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R35

Happy to hear your though

[2021-10-12 08:54] ekes commented on #159
Turned the checkboxes into issues on the new module, so think it's good to close this one?

[2021-10-12 09:20] ekes commented on #318
https://github.com/localgovdrupal/localgov/commit/16e3c0ccf999e4bbc485129db339c1865b050ebd

[2021-10-12 09:20] #318 closed, assigned to danchamp

[2021-10-12 09:29] ekes commented on #199
I'll bump this one as I think it's good, but we now have a format for the release notes that should probably be added to that.

[2021-10-12 11:36] stephen-cox commented on #202
Done - sprint 1

[2021-10-12 11:38] stephen-cox commented on #194
Done - sprint 2

[2021-10-12 11:38] #194 closed

[2021-10-12 11:38] stephen-cox commented on #199
Done - sprint 2

[2021-10-12 11:38] #199 closed

[2021-10-12 11:38] stephen-cox commented on #200
Done - sprint 2

[2021-10-12 11:38] stephen-cox commented on #203
Done - sprint 2

[2021-10-12 11:39] stephen-cox commented on #222
Done - sprint 3

[2021-10-12 11:39] #222 closed, assigned to OliverHannan

[2021-10-12 11:39] stephen-cox commented on #220
Done - sprint 3

[2021-10-12 11:39] #220 closed, assigned to finnlewis, willguv

[2021-10-12 11:39] stephen-cox commented on #204
Done - sprint 3

[2021-10-12 11:39] stephen-cox commented on #181
Done - sprint 3

[2021-10-12 11:39] stephen-cox commented on #247
Done - sprint 3

[2021-10-12 11:39] #247 closed, assigned to finnlewis

[2021-10-12 11:39] stephen-cox commented on #248
Done - sprint 3

[2021-10-12 11:39] #248 closed, assigned to nobody

[2021-10-12 11:40] stephen-cox commented on #265
Done - sprint 4

[2021-10-12 11:40] #265 closed, assigned to msayoung

[2021-10-12 11:40] stephen-cox commented on #268
Done - sprint 4

[2021-10-12 11:40] #268 closed, assigned to nobody

[2021-10-12 11:40] stephen-cox commented on #224
Done - sprint 5

[2021-10-12 11:40] #224 closed, assigned to msayoung

[2021-10-12 11:41] stephen-cox commented on #219
Done - sprint 5

[2021-10-12 11:41] #219 closed, assigned to willguv

[2021-10-12 11:41] stephen-cox commented on #283
Done - sprint 5

[2021-10-12 11:41] #283 closed, assigned to willguv

[2021-10-12 11:41] stephen-cox commented on #297
Done - sprint 6

[2021-10-12 11:41] #297 closed, assigned to willguv

[2021-10-12 11:41] stephen-cox commented on #294
Done - sprint 6

[2021-10-12 11:41] #294 closed, assigned to finnlewis

[2021-10-12 11:42] stephen-cox commented on #304
Done - sprint 6

[2021-10-12 11:42] #304 closed, assigned to nobody

[2021-10-12 11:42] stephen-cox commented on #300
Done - sprint 6

[2021-10-12 11:42] #300 closed, assigned to nobody

[2021-10-12 11:42] stephen-cox commented on #278
Done - sprint 6

[2021-10-12 11:42] #278 closed, assigned to willguv

[2021-10-12 11:42] stephen-cox commented on #313
Done - sprint 7

[2021-10-12 11:42] #313 closed, assigned to finnlewis, willguv

[2021-10-12 11:42] stephen-cox commented on #307
Done - sprint 7

[2021-10-12 11:42] #307 closed, assigned to willguv

[2021-10-12 11:42] stephen-cox commented on #284
Done - sprint 7

[2021-10-12 11:42] #284 closed, assigned to willguv

[2021-10-12 11:43] stephen-cox commented on #330
Done - sprint 8

[2021-10-12 11:43] #330 closed, assigned to msayoung

[2021-10-12 11:43] stephen-cox commented on #327
Done - sprint 8

[2021-10-12 11:43] #327 closed, assigned to AlexandraClark83

[2021-10-12 11:43] stephen-cox commented on #319
Done - sprint 8

[2021-10-12 11:43] #319 closed, assigned to aaronhirtenstein

[2021-10-12 11:43] stephen-cox commented on #288
Done - sprint 8

[2021-10-12 11:43] #288 closed, assigned to nobody

[2021-10-12 11:43] stephen-cox commented on #329
Done - sprint 8

[2021-10-12 11:43] #329 closed, assigned to willguv, msayoung

[2021-10-12 11:43] stephen-cox commented on #328
Done - sprint 8

[2021-10-12 11:43] #328 closed, assigned to aaronhirtenstein

[2021-10-12 11:44] stephen-cox commented on #326
Done - sprint 9

[2021-10-12 11:44] #326 closed, assigned to willguv

[2021-10-12 11:44] stephen-cox commented on #357
Done - sprint 9

[2021-10-12 11:44] #357 closed, assigned to finnlewis, willguv

[2021-10-12 11:44] stephen-cox commented on #356
Done - sprint 10

[2021-10-12 11:44] #356 closed, assigned to AlexandraClark83

[2021-10-12 11:45] stephen-cox commented on #201
Done - sprint 1

[2021-10-12 11:58] stephen-cox commented on #25
I'm closing this as it's no longer relevant.

[2021-10-12 11:59] stephen-cox commented on #80
I'm closing this as it's no longer relevant.

[2021-11-01 19:28] andybroomfield opened #392 "Having debug_cacheability_headers can cause WSOD"
Just checking if i'm alone or if this is being experinced with localgov.
Particully when viewing a news room with featured articles when logged in.
changing `http.response.debug_cacheability_headers` to false does resolve it.

(I think it happens becuase as a site with a lot of entity refereneces, we output a lot of cache tag headers that get outputted when debugged).

[2021-11-02 10:38] #245 closed, assigned to finnlewis

[2021-11-02 11:28] andybroomfield opened #394 "Add ability to change alt text based on context of the media"
As Localgov Drupal has moved to using media field from images, it means that alt text is described on the media entity and not on the content that it is used, which might be different depending on circumstances (being used as decoration for a banner, but also a featured thumbnail on a news story).

There is a [drupal issue and a patch](https://www.drupal.org/project/drupal/issues/3023807) to allow

[2021-11-03 15:27] stephen-cox opened #395 "Update profile README to provide better instructions for using LocalGov Drupal without Lando"
While many of us use Lando locally more people are trying out LocalGov Drupal on different platforms and running into difficulties. We should at least provide documentation for a generic install or link to Drupal install guides elsewhere on the web.

This should also be reflected in the docs site: https://docs.localgovdrupal.org/devs/getting-started/

[2021-11-03 15:44] stephen-cox commented on #392
I don't get this with a new install when the Demo content module is enabled, but I can see a lot of cache tag in the header for just 5 pieces of content (output below).

This is a known problem with Drupal (In usually have to increase the max header size when using Varnish because the number of cache tags in the header with views pages is too big).

Some of the cache tags listed below don't look l

[2021-11-04 09:22] andybroomfield commented on #392
Thanks @stephen-cox This was experinced when importing our current site to the new news content types.
I've changed our `http.response.debug_cacheability_headers:false` and that has solved it. Apart from no longer seeing the cache tags is there anything else I would miss that is useful?

[2021-11-04 12:23] andybroomfield opened #396 "Search api updates are failing (due to a patch?)"
After doing composer update and trying to run updates with `lando drush updb -y` I get

There is a duplicated search_api_update_8107() function, but it is not included in the vanillia 1.21 package which I downloaded from drupal.org.
The function does not appear anywhere in the vanilla search API module so I assume this is coming from a patch which needs to be updated.

[code]

[2021-11-04 12:39] ekes commented on #396
Oh! We've got a patch that includes an update_X hook :-( `<kicks self>`

This is going to be 'fun'.

I guess we need to drop the update index by one, for anyone we're sure has run the patch hook? Then maybe it can be changed into a named post-update, that would be safer. That or in a custom module with something to take account of the code getting merged. Otherwise this will happen again I'd guess

[2021-11-04 12:47] andybroomfield commented on #396
Thanks for looking @ekes do you know which module is including the patch and is it a patch from drupal.org?

[2021-11-04 12:50] andybroomfield commented on #396
I found it in localgov profile, and it is this patch https://www.drupal.org/project/search_api/issues/3196990

[2021-11-04 12:51] ekes commented on #396
There was a new release of Search API - literally just in the last hours - which will include
https://git.drupalcode.org/project/search_api/-/blob/8.x-1.x/search_api.install#L339

There's a patch on Search API in the composer.json https://github.com/localgovdrupal/localgov/blob/4da86448d21a4be7b3b5aba7f346b9f985345a46/composer.json#L65 for https://www.drupal.org/project/search_api/issues/3196990 w

[2021-11-04 13:00] ekes commented on #396
I think something like:
 - as the new release of search_api will leave the schema version at 8109 there could be a update hook in localgov to check schema at 8107 resetting it to 8016 (maybe check search_api version); but how to run before upgrade?
 - remove that update patch for now
 - then add patch back, but as a post-update hook - if it's not safe to run over existing updated config it can be

[2021-11-08 14:16] finnlewis commented on #396
Just discussing this on a call with @andybroomfield

@ekes I think the original motivation for this patch was to fix the tests which were failing due to mismatched schema, is that right?

Either way, it would be good to see what we can do to fix this sooner rather than later.

[2021-11-08 14:25] finnlewis commented on #396
Could we pin search_api at a given version in the profile's composer.json ?

[2021-11-08 14:27] finnlewis commented on #396
Andy is just trying this on https://github.com/localgovdrupal/localgov/pull/397

[2021-11-08 16:41] rowan-austin-investis opened #399 "LocalGov Alert banners giving content moderation error when setting live"
Hello all,

I've been experiencing this issue on my site when trying to publish an alert banner.

InvalidArgumentException: Field moderation_state is unknown. in Drupal\Core\Entity\ContentEntityBase->getTranslatedField() (line 587 of /var/www/docroot/core/lib/Drupal/Core/Entity/ContentEntityBase.php).

This is happening on all alert banners on my site, I also have Workflows (Content Moderation) in

[2021-11-09 14:07] j4-m opened #400 "Drupal\Tests\BrowserTestBase::$defaultTheme is required."
From localgovdrupal/localgov_project#57

See PHPCS output: https://github.com/localgovdrupal/localgov_project/runs/4068805844?check_suite_focus=true

[code]

[2021-11-10 10:16] ekes commented on #396
Think I have a solution to this - based on writing a custom update hook for ourselves, that's safe for the two updates. I'll look at it when I get home at the end of the week if not before.

[2021-11-10 15:49] j4-m opened #402 "Breadcrumb assertions fail when not using Classy"
AssertBreadcrumbTrait::getBreadcrumbParts expects the breadcrumb wrapper to have a specific CSS class. This was the case when using the classy (by default) however tests now need to specify the `$defaultTheme` and best practise is to avoid depending on markup provided by core.

See https://www.drupal.org/node/3083055

[2021-11-10 15:53] j4-m commented on #402
@finnlewis can you review please.

[2021-11-11 11:10] #402 closed, assigned to finnlewis

[2021-11-13 18:37] ekes commented on #396
So that took longer than I thought https://www.drupal.org/project/search_api/issues/3196990#comment-14290662 for the search_api patch, with https://github.com/localgovdrupal/localgov/commit/1db9e6fe2b49a476295fb7988b70a66a98451c00 to apply it and the missed search_api update.

[2021-11-15 15:00] j4-m opened #407 "Conventional commit messages"
As we are using semantic versioning it is critical to understand the nature of the changes when creating releases. For example, if the release branch has some commits on it which have not been released then when the next release it is created we need to know if it just bug fixes or if it includes new features or even breaking changes so we choose the appropriate SemVer.

This is exactly what the [

[2021-11-16 10:15] stephen-cox commented on #407
If I understand the underlying reason for this it is to identify the different types of changes that are being released. Having some guidelines for this sounds good.

I generally include the GitHub issue and PR numbers in the commit message so it's possible to identify what is being fixed. For large feature requests with lots of commits I squash all the commits, ensuring the main line describes th

[2021-11-16 10:23] ekes commented on #407
For anything that really deserves it's own branch to work on I think this is the thing. I tend to come at this from the perspective of a git blame user, someone trying to understand why what was done. Linking to issues and discussion here is super valuable. For some things doing an interactive rebase to make it two or three commits that make logical sense and have a good description, rather than j

[2021-11-16 11:49] #396 closed, assigned to nobody

[2021-12-09 17:32] amoebanath commented on #63
Heya. We're noticing that if a landing page (or anything above the bottom of the hierarchy) is renamed, its children's aliases aren't updated. I feel like this ticket is looking for our use case?? :)

Is this a discussion you guys are up for resuming? We're happy to help out making this happen.

[2021-12-09 18:06] andybroomfield commented on #63
@amoebanath Thanks for comment.
Related to this, https://github.com/localgovdrupal/localgov_services/issues/141 there is also an issue when links entered need redirected they can be broken. I think we need a tool or an automated process that can go through the entire landing -> sub landing -> page and correct any alias and fix broken links.

I think its worth reopening this conversation as [a new

[2022-01-05 10:45] em-cd opened #410 "Login form errors not showing"
Hello 👋

I'm trying out Drupal and LocalGov Drupal for the first time and I've noticed that when I try to log in with an incorrect username or password, there's no error message to tell me what's gone wrong on the login screen. This is happening on a fresh local installation and also on a fresh install deployed on AWS. On a fresh install of plain Drupal the error messages are showing correctly.

I

[2022-01-05 12:26] stephen-cox commented on #410
Hi @em-cd

Thanks for reporting this.

There's a known bug with the theme which means system messages are not being displayed https://github.com/localgovdrupal/localgov_base/issues/154, which I suspect is why you're not seeing a login error message.

Development on this has slowed a little over the last month, but hopefully we / I can find some time to look at this soon.

[2022-01-10 12:31] finnlewis opened #411 "Your requirements could not be resolved to an installable set of packages."
Just tried a fresh install locally and get the following:

[code]

[2022-01-10 14:56] finnlewis commented on #411
Note: the composer create-project is working on php7.4 and on @andybroomfield  and @stephen-cox's PHp8. So perhaps just a problem on my local php 8.0.8.

Will continue testing.

[2022-01-10 15:04] stephen-cox commented on #410
@em-cd This should have been fixed with the latest release of the base theme (https://github.com/localgovdrupal/localgov_base/releases/tag/1.2.3) - thanks to @markconroy for the fix.

Can you confirm this is fixed if you update the base theme to the latest version?

[2022-01-10 15:16] markconroy commented on #410
Yes, this is fixed. I tested it while fixing the other issue.

[2022-01-10 15:16] #410 closed, assigned to nobody

[2022-01-11 11:43] finnlewis opened #412 "Patch no longer applies"
Fresh install today, running `composer create-project localgovdrupal/localgov-project MY_PROJECT` gives the following:

[code]
This is because the patch has been committed and cherry picked to Drupal 9.3.x:

https://git.drupalcode.org/project/drupal/-/commit/9a56987

[2022-01-11 12:25] #412 closed, assigned to nobody

[2022-01-17 11:27] em-cd commented on #410
Thanks @stephen-cox and @markconroy, can confirm that's fixed it for us too! 🙏

[2022-01-17 14:34] finnlewis opened #415 "Enable new localgov_admin_theme_improvements module by default"
Mark provided a new module to fix things in the admin theme:

https://github.com/localgovdrupal/localgov_core/tree/2.x/modules/localgov_admin_theme_improvements

We should enable this by default in the install profile.

[2022-01-21 11:28] thibaudcolas opened #418 "List of sites built with LocalGov"
I hope this is the right place to ask for this – let me know if not.

I’ve just learned about LocalGov and am looking for examples of sites built with it. I have a rough idea of which councils are using it currently, but haven’t been able to find any open-source sites to confirm. Are there examples out there of open-source sites using LocalGov? If so it would be nice to add a list to the documenta

[2022-01-24 14:32] stephen-cox opened #419 "Deprecated code failures"
[code]

[2022-01-31 14:06] #419 closed, assigned to nobody

[2022-01-31 14:21] stephen-cox opened #422 "Remove Github CI tests running against Drupal 8"
To update:

  * https://github.com/localgovdrupal/localgov_alert_banner/blob/1.x/.github/workflows/test.yml
  * https://github.com/localgovdrupal/localgov_page_components/blob/1.x/.github/workflows/test.yml
  * https://github.com/localgovdrupal/localgov_skeleton/blob/1.x/.github/workflows/test.yml
  * https://github.com/localgovdrupal/localgov_theme/blob/1.x/.github/workflows/test.yml
  * https://

[2022-01-31 14:24] stephen-cox opened #423 "Only run Github CI tests on that modules code - not on all modules"

[2022-01-31 14:40] stephen-cox opened #424 "Support PHP 8.*"
We should support PHP 8. I'm reasonably sure LocalGov Drupal will run with PHP 8.0. but tests currently run against PHP 7.4.

At a minimum we need to update the tests to run against 8.0. Should we then change the main supported PHP version to 8?

[2022-01-31 14:49] finnlewis commented on #424
Also see https://github.com/localgovdrupal/localgov_project/issues/65

[2022-02-28 14:37] finnlewis commented on #423
Just noting this again at Merge Monday.

Not any time this week, but hoping to make this soon.

This has complications and will involve reworking the test file:

https://github.com/localgovdrupal/localgov/blob/2.x/.github/workflows/test.yml

[2022-03-23 17:25] willguv opened #426 "Consider adding Elbow room to distribution"
[May be in the wrong repo]

Croydon has installed [Elbow room](https://www.drupal.org/project/elbow_room) to allow content designers there to show/ hide the right hand sidebar and provide more space for working

This *may* have included a modification to make the show/ hide persistent across pages

Clicking "hide" hides the sidebar across multiple pages until the user clicks "show" to show it agai

[2022-03-23 17:26] willguv commented on #426
@Adnan-cds are you still using Elbow room on your set up?

Did you modify it in the way I've described above, or did I imagine that? If so, could you provide details of how you did it?

Many thanks!

[2022-03-23 17:53] Adnan-cds commented on #426
Hi Will,
Yes, we still use the Elbow room module.  It has become slightly difficult to install as the [module says](https://git.drupalcode.org/project/elbow_room/-/blob/8.x/elbow_room.info.yml#L3) it is only compatible with Drupal 8 and **not** Drupal 9.  This means we can no longer install it through composer.  There's even a [patch](https://www.drupal.org/project/elbow_room/issues/3140331) to fi

[2022-03-23 22:33] andybroomfield commented on #426
@Adnan-cds Module page says its looking for a new maintainer, maybe we should take over the module and merge your fix for having it persistent as part of it?

[2022-03-23 23:07] willguv commented on #426
@andybroomfield I think that’s worth exploring - does it deliver what we need, and what sort of long term commitment? I imagined LGD becoming active in this respect

Another option was identified within Gin, but not sure how far that’s got

https://www.drupal.org/project/gin/issues/3187407

[2022-03-24 11:00] Adnan-cds commented on #426
Yeah, that's an option.  Would you mind applying for membership :)  I am happy to submit a patch.

That's actually very close to acceptance.

We are still using Claro, so Gin having the ability to collapse the sidebar in editing forms won't immediately help us.  But this upcoming feature of Gin is worth a try even now.

[2022-03-24 12:21] willguv opened #427 "Preview links"
This has already been delivered

A content designer can create a "preview link" which can be sent to a non logged in user eg a councillor

Here's an example:

https://cumbria-dev.codeenigma.net/preview-link/node/47/ad691ff8-6202-46e3-bb8a-156457929f12

You should see a "preview link" tab, and clicking it provides a preview link that can be shared

<img width="1195" alt="Screenshot 2022-03-24 at 12

[2022-03-24 12:42] willguv opened #428 "Filter by content and all statuses"
As a content editor
I need to see all the pages I'm working on
I need to see all the pages I'm working on in various states

It looks like on https://cumbria.w3.org.uk/admin/content that we need:

- an author filter
- all the statuses shown in the "published status" drop down menu

[2022-03-24 12:46] Adnan-cds commented on #427
Hi Will,
I can confirm that the Preview link feature works great in our site and is well used.  The preview_link module gets installed when [localgov_workflows](https://github.com/localgovdrupal/localgov_workflows) is installed.

[2022-03-24 14:00] willguv commented on #426
Thanks @andybroomfield and @Adnan-cds

@finnlewis can this be added to the next Technical Group for discussion please? It seems we've got a few options here worth discussing

[2022-03-25 15:58] budda opened #430 "Editor role permissions improvement"
As a user with the Editor role I noticed it wasn't possible to:

- See/use the Preview Link
- See the Mobile preview menu
- Quick Edit toggle on/off
- Can't edit anyone news articles or newsroom

Unless this was intentional, I assume it's some default permissions to add in the config?

[2022-03-28 14:17] finnlewis commented on #423
@Adnan-cds and I were just discussing this and would like to get this moving soon. We think we'll have time to look at this in a couple of weeks.

[2022-04-04 14:11] finnlewis commented on #430
Hey @budda - I don't think this was intentional. Would be good to review the default permissions as suggested.

The initial permissions for the editor are defined in localgov_core:

https://github.com/localgovdrupal/localgov_core/blob/2.x/modules/localgov_roles/config/install/user.role.localgov_editor.yml

Fancy creating a pull request with the proposed changes?

[2022-04-04 14:22] andybroomfield commented on #430
See also https://github.com/localgovdrupal/localgov_core/issues/125

[2022-04-06 08:51] #70 closed

[2022-04-06 08:51] #80 closed

[2022-04-06 08:51] #92 closed

[2022-04-06 08:52] #101 closed

[2022-04-06 08:53] #110 closed

[2022-04-06 08:55] #118 closed

[2022-04-06 09:05] andybroomfield commented on #119
Bump, as its a bit odd that Guides and Directory install by default, but others do not.

[2022-04-06 09:09] andybroomfield commented on #150
This looks done.

[2022-04-06 09:09] #150 closed

[2022-04-06 09:10] #158 closed

[2022-04-06 09:11] #184 closed

[2022-04-06 09:12] #186 closed

[2022-04-06 09:12] #207 closed

[2022-04-06 09:13] #193 closed

[2022-04-06 09:13] #208 closed, assigned to nobody

[2022-04-06 09:14] andybroomfield commented on #213
Still looks like a live issue.

[2022-04-06 09:16] andybroomfield commented on #243
Still live issue

[2022-04-06 09:16] #244 closed, assigned to nobody

[2022-04-06 09:17] #257 closed, assigned to nobody

[2022-04-06 09:19] andybroomfield commented on #280
Assume done, also 1.x is not supported anymore.

[2022-04-06 09:19] #280 closed, assigned to nobody

[2022-04-06 09:21] #282 closed, assigned to nobody

[2022-04-06 09:21] andybroomfield commented on #301
Close as we autogenerate them from github now.

[2022-04-06 09:21] #301 closed, assigned to finnlewis

[2022-04-06 09:26] #352 closed, assigned to nobody

[2022-04-06 09:26] andybroomfield commented on #355
Bump.

[2022-04-06 09:29] andybroomfield commented on #364
Bump, though I may take a look as I don't use Lando on my mac, just develop locally.

[2022-04-06 09:33] #367 closed, assigned to nobody

[2022-04-06 09:33] #370 closed, assigned to finnlewis

[2022-04-06 09:34] #374 closed, assigned to finnlewis

[2022-04-06 09:34] andybroomfield commented on #376
Bump

[2022-04-06 09:34] #378 closed, assigned to finnlewis

[2022-04-06 09:35] #381 closed, assigned to nobody

[2022-04-06 09:35] #383 closed, assigned to nobody

[2022-04-06 09:37] andybroomfield commented on #394
Still live issue.
However in CKEditor text editor (body fields) the embed media button does allow alt text to be overridden.

[2022-04-06 09:39] andybroomfield commented on #395
We need to document

- Minimum specs (PHP / MySql and Apache version
- Installing composer locally
- Setting up dev environment if they don't know how to do this.

On macOS with built in apache and homebrew php / mysql I found it fairly straightforward.

Also consider other environments such as DDev.

[2022-04-06 09:40] #400 closed, assigned to nobody

[2022-04-06 09:43] andybroomfield opened #431 "Clean up issue que / triage"
I had a quick go, but there is a lot of 'business' things here, a lot of which date to the Alpha / Beta which I don't want to touch in case it is still a live issue.

[2022-04-06 09:47] #333 closed, assigned to MattOz-CDS

[2022-04-06 09:49] andybroomfield opened #432 "Formally Drop 1.x support now?"
Last commit to 1.x branch was 4th October 2021, to bump alert banner to 1.2.
I belive the 1.x profile is very out of date and only useful if your starting or suporting a Drupal 8 site.
I saw a few issues that deal with 1.x support requests, which has had some ad-hoc support.
Is 1.x (Drupal 8) still relevant to people?
Noting also Slack disucssion on 3.x (Drupal 10).

[2022-04-06 09:50] #415 closed, assigned to finnlewis

[2022-04-06 09:51] andybroomfield commented on #427
Can we close this or is it needed for documentation?

[2022-04-06 10:16] willguv commented on #427
We’ve got everything we need from this. Thanks @andybroomfield

[2022-04-06 10:16] #427 closed, assigned to nobody

[2022-04-06 10:18] willguv commented on #183
I’ll add this to the Cumbria’s Trello @andybroomfield and we’ll try it on base/ our child theme

[2022-04-06 10:19] andybroomfield commented on #183
Ok @willguv I'll reopen it as it is still a live issue.

[2022-04-06 10:25] andybroomfield commented on #340
This is still a live issue on fresh install.

[2022-04-06 10:28] willguv commented on #340
@andybroomfield I've added this to the kanban the content group has started using to discuss these kind of issues. Thanks for flagging

[2022-04-06 14:26] finnlewis commented on #431
Thanks @andybroomfield - you've made a great start! I'll dive in too and see what we can close off.

[2022-04-06 14:27] #20 closed

[2022-04-06 21:44] andybroomfield commented on #213
Possible duplicate at localgovdrupal/localgov_paragraphs#254 which has more current discussion.
This also talks about subsides, but generally that should contain almost all paragraphs except for functional ones.
I suggest separate issue there if need be.

[2022-04-06 21:44] #213 closed, assigned to nobody

[2022-04-07 10:58] finnlewis commented on #362
We did this!

On Tuesday, 15 March⋅12:00 – 12:50, a number of Drupal suppliers met up to look at potential supplier membership of LocalGov Drupal - including potential benefits and fees.

We made some notes here: https://docs.google.com/document/d/1Dk-ybpxaBvSLO4bBtfpawUOiHDQ40pw28oPtOa0KDEs/edit#heading=h.nf03gum5jmzx

In summary, most suppliers were open to the idea of a ballpark £10K / year to

[2022-04-07 10:58] #362 closed, assigned to finnlewis

[2022-04-07 11:00] finnlewis commented on #382
Hi @MichaelDCR ! Just reviewing old issues. Is this still something that you would like? If so, is this for the website, docs site or just README files on the theme repositories?

@markconroy do we already have anything along these lines?

[2022-04-07 11:14] finnlewis commented on #74
@andybroomfield just tried adding default templates to the main localgov repo:

https://github.com/localgovdrupal/localgov/pull/433

It does look like we need them on each repo, so let's get them working here then copy elsewhere as needed.

[2022-04-07 11:16] finnlewis commented on #72
We can cover this in #74

[2022-04-07 11:16] #72 closed

[2022-04-07 11:21] finnlewis commented on #432
Good shout @andybroomfield !

Shall we use the https://www.drupal.org/project/localgov project page to state the supported release(s) ?

Speaking of which, that needs updating.

[2022-04-07 11:38] finnlewis commented on #432
I've added the following text to the Drupal.org project page:

See https://www.drupal.org/project/localgov

I've also pushed up the 2.3.9 release and confirmed that we are explicitly stating that we are supporting the 2.x branches but not the 1.x branch.

[2022-04-07 11:43] finnlewis commented on #432
I've also added it to the README.md here: https://github.com/localgovdrupal/localgov/blob/2.x/README.md#supported-branches

[2022-04-07 14:24] finnlewis commented on #418
Hi @thibaudcolas ! Great question and sorry that no-one got back to you sooner!

We've had a bit of a break but are now getting back into building a microsites system for UK councils.

We do know of a number of councils who have launched sites on LocalGov Drupal, which include :

- https://www.croydon.gov.uk/
- https://www.brighton-hove.gov.uk/
- https://www.westminster.gov.uk/
- https://new.cumbr

[2022-04-07 14:46] finnlewis commented on #432
@andybroomfield shall we close this or would you like to discuss in more detail?

[2022-04-07 14:49] finnlewis commented on #411
Turns out that this was my local host machine missing required php packages.

See https://www.drupal.org/docs/system-requirements/php-requirements

In my case, I did not have php8.1-mbstring installed.

[2022-04-07 14:49] #411 closed, assigned to nobody

[2022-04-07 16:29] andybroomfield commented on #432
@finnlewis I assume, unless anyone else wants to raise objections. Shall we just message this on the Slack too?

[2022-04-07 16:41] finnlewis commented on #424
I think we probably need to support PHP 7.4 and PHP 8.1 for a bit, but there are already contrib modules that are making releases that only work on PHP8+ (https://www.drupal.org/project/date_recur)

This is where it would be really good to have a list of live sites, with PHP versions to know our audience a bit better.

[2022-04-07 17:47] #305 closed, assigned to willguv

[2022-04-07 17:47] #358 closed, assigned to willguv

[2022-04-07 17:48] #129 closed

[2022-04-07 17:52] finnlewis commented on #41
Did we ever get anywhere with this one? Is it still for consideration?

[2022-04-07 17:52] finnlewis commented on #215
Yes!

[2022-04-07 21:16] thibaudcolas commented on #418
Thank you @finnlewis 🤘  I’ll close this now and take a look at those sites, would be nice if there were open source examples but I understand this might be asking too much.

[2022-04-07 21:16] #418 closed, assigned to nobody

[2022-04-08 09:38] MichaelDCR commented on #382
Hi @finnlewis @markconroy

the Docs info is light on the theme - see https://docs.localgovdrupal.org/devs/theme/ and says to use the ReadMe files - I have no idea if those are up to date? If those could be reviewed and any new info added that'd be great

Also quick mention of visual design at https://docs.localgovdrupal.org/design/#visual-design

We have 3 paras Mark wrote here under Theme & Desig

[2022-04-08 09:39] MichaelDCR commented on #382
in fact not ReadMe files but says to read the inline code comments

[2022-04-08 11:53] #277 closed, assigned to willguv

[2022-04-08 11:58] finnlewis commented on #422
@stephen-cox shall we evolve this issue to cover only running tests on the modules code and testing on different PHP version?

https://github.com/localgovdrupal/localgov/issues/423
https://github.com/localgovdrupal/localgov/issues/424

[2022-04-08 14:30] finnlewis commented on #74
Added default templates, so we can see how they go and iterate on the specific content of each: https://github.com/localgovdrupal/localgov/issues/new/choose

[2022-04-08 14:30] #74 closed

[2022-04-08 15:00] finnlewis commented on #426
Just got myself added as maintainer of https://www.drupal.org/project/elbow_room :)

I'll see if we can get a Drupal 9 version released!

[2022-04-08 15:34] finnlewis commented on #426
@Adnan-cds I've made a release that supports Drupal 9: https://www.drupal.org/project/elbow_room/releases/8.x-1.1

Fancy starting an issue and branch to submit your proposed improvements?

[2022-04-08 15:39] Adnan-cds commented on #426
Congratulations :)

Thanks a lot.  The world can start using this module through composer again.

Sure.  I will try to raise a patch aiming for the next Merge Monday meeting.

[2022-04-08 15:43] willguv commented on #426
Nice work all!!

[2022-04-08 16:50] #241 closed, assigned to nobody

[2022-04-08 17:10] finnlewis commented on #239
Hey @willguv - you've got the main newsletter mailing list.

Do we need to set up a technical mailing list for security and change announcements? I think the answer is yes, in which case we should explore how to make sure it is easy to maintain and clear rules of engagement.

I wonder if something like [MailMan](https://list.org/) would make sense.

[2022-04-08 17:15] #269 closed, assigned to nobody

[2022-04-08 17:17] finnlewis commented on #363
We do now have this information in https://docs.google.com/spreadsheets/d/1u3SizAEJk1RkZ6OY_I_9PeRMMK855nPY_pBr-ptPOp0/edit#gid=1860257821

[2022-04-08 17:17] #363 closed, assigned to willguv

[2022-04-08 17:18] #232 closed, assigned to nobody

[2022-04-08 17:19] #432 closed, assigned to nobody

[2022-04-08 17:25] finnlewis opened #434 "Drupal 10 support"
We need to be ready for Drupal 10 which will likely be released later this year.

Starting this issue to track developments and discussion.

Shall we start a 3.x branch to target Drupal 10?

[2022-04-08 17:32] willguv commented on #239
Hi @finnlewis yes we need a technical mailing list too. I don't mind the technology we use, but let's loop Tim in as he does most of the management and communication for our main list

[2022-04-08 17:34] finnlewis commented on #424
Actually - we should probably follow Drupal's recommendations:

https://www.drupal.org/docs/system-requirements/php-requirements#versions

PHP version | Supported by Drupal | First Drupal release with support | Recommended?
-- | -- | -- | --
7.3 | 9.x | 8.6.4 (note 1 below) | No
7.4 | 9.x | 8.8.3 | No
8.0 | 9.x | 9.1.0 | Yes
8.1 (note 2 below) | 9.x, 10.x | 9.3.0 | Yes

So support but not recommen

[2022-04-08 18:51] finnlewis commented on #239
Cool - @TJHDCR any thoughts ?

[2022-04-08 18:52] finnlewis commented on #234
@TJHDCR , @MichaelDCR @willguv is this something we now have?

[2022-04-08 18:57] #106 closed

[2022-04-08 18:58] #48 closed

[2022-04-08 18:58] #88 closed

[2022-04-08 18:59] #107 closed

[2022-04-08 18:59] #104 closed

[2022-04-08 18:59] #103 closed

[2022-04-08 19:08] finnlewis commented on #142
We should return to this... the modules have moved on in the last year or two!

[2022-04-11 13:03] Adnan-cds commented on #426
Hi Finn, this is [ready for you to review](https://git.drupalcode.org/issue/elbow_room-3274587/-/merge_requests/1) :)

[2022-04-11 13:23] finnlewis opened #435 "Ensure full integration tests run on the install profile."
Noting that we are moving to running tests on each repo against the code within that project.

We then want to schedule tests to run daily on the profile repo.

[2022-04-11 14:01] finnlewis commented on #434
Discussion in Merge Mondays:
  - @Adnan-cds : Do we even need another branch? Can we not just support 10 in this branch?
  - @ekes : starting a new branch that ONLY supports Drupal 10, this was easier last time.
  - @stephen-cox : we also had to diverge specific contrib modules last time, which bubbled up to the profile

So:
 - we'll start a 3. x branch to start testing Drupal 10
 - @ekes mentione

[2022-04-11 14:43] finnlewis commented on #424
The suggestion on today's Merge Monday call was to test against PHP 7.4 and 8.1 for most module repositories, but to do a more full test on the localgov profile repo to include 7.4, 8.0, 8.1 and run tests across all the code on a regular daily schedule.

Anything else we need to do on this issue @stephen-cox ?

[2022-04-11 15:06] ekes commented on #434
https://www.drupal.org/docs/develop/using-composer/using-drupals-lenient-composer-endpoint

[2022-04-11 15:42] finnlewis commented on #435
@stephen-cox I made a start on this, initially testing if I can get the name of the project without accessing the event variable.

This seems to work: https://github.com/localgovdrupal/localgov/pull/436/files#diff-faff1af3d8ff408964a57b2e475f69a6b7c7b71c9978cccc8f471798caac2c88R28

So perhaps we can use this here: https://github.com/localgovdrupal/localgov/blob/feature/435-full-integration-tests/.

[2022-04-12 10:31] stephen-cox opened #437 "Fixes to profile to support php 8.1"
When running tests using PHP 8 the following tests fail:

[code]

[2022-04-12 10:54] stephen-cox commented on #424
To support PHP 8.1 we need to upgrade phpstan in the localgov_project: https://github.com/localgovdrupal/localgov_project/issues/65#issuecomment-1095145300

Fix some PHP Unit tests:

- https://github.com/localgovdrupal/localgov/issues/437
- https://github.com/localgovdrupal/localgov_openreferral/issues/29

Fix some code deprecation issues that come from the phpstan upgrade:

- https://github.com/l

[2022-04-14 15:45] stephen-cox commented on #434
We have 3.x branches for the profile and the project:

* https://github.com/localgovdrupal/localgov/tree/3.x
* https://github.com/localgovdrupal/localgov_project/tree/3.x

The project will install Drupal 10 if you remove the requirement for `localgovdrupal/localgov:3.x`. When trying to install LocalGov Drupal there's a mass of Composer conflicts that need unpicking:

[code]

[2022-04-14 15:49] andybroomfield opened #438 "Track deprecations for Localgov 3.0 (Drupal 10)"
**Is your feature request related to a problem? Please describe.**
If we are considering a seperate branch for Drupal 10 in the profile, it may be worth starting to track deprecations for things we want to remove, and begin marking them as such.

**Describe the solution you'd like**
Examples:
- [Remove Localgov_skeleton](https://github.com/localgovdrupal/localgov_skeleton/issues/23)
- [Remove Loca

[2022-04-20 16:14] stephen-cox commented on #437
This should be fixed with:https://github.com/localgovdrupal/localgov_events/pull/78

[2022-04-26 09:35] finnlewis commented on #424
So @stephen-cox I think this one is done, no?

[2022-04-26 11:32] #434 closed, assigned to stephen-cox

[2022-04-26 11:32] #424 closed, assigned to nobody

[2022-04-26 11:44] #437 closed, assigned to nobody

[2022-04-27 13:22] stephen-cox commented on #423
Now we have this working in Alert Banner we should genericise it and roll it out to all repos

[2022-04-27 14:47] finnlewis commented on #423
Assigning this one to you @stephen-cox - want to give it an estimated number of story points?

[2022-05-01 13:32] stephen-cox commented on #423
I've written a PHP app that updates the GitHub workflows from a template, creating PRs for the changes: https://github.com/localgovdrupal/github_workflow_manager

There are now 24 PRs for this:

* https://github.com/localgovdrupal/localgov_project/pull/76
* https://github.com/localgovdrupal/localgov/pull/439
* https://github.com/localgovdrupal/localgov_alert_banner/pull/208
* https://github.com/lo

[2022-05-01 13:36] stephen-cox commented on #422
This will be fixed with #423

[2022-05-09 11:49] budda opened #440 "Node content "Related content" UI isn't clear on how to display related links list"
**Is your feature request related to a problem? Please describe.**
A content editor can add "related links" to a node using the vertical tab links fields.

However, the links will not appear once the node is saved unless the editor is aware that they need to also switch on the "Replace automatically generated links" option which is above/outside of the related links section of the user interface.

[2022-05-09 11:58] budda opened #441 "Related content topics UI could help users add new topics"
**Is your feature request related to a problem? Please describe.**
If a taxonomy term doesn't already exist for a topic it is not clear where or how an editor should go about adding a new one.

**Describe the solution you'd like**
The taxonomy term field description could add some more helpful text and link to /admin/structure/taxonomy/manage/localgov_topic/overview to see existing topics and add

[2022-05-10 11:07] #423 closed, assigned to stephen-cox

[2022-05-18 15:30] willguv opened #444 "Do we want to recommend Entity Share?"
Cumbria is using https://www.drupal.org/docs/contributed-modules/entity-share to create whole site sections on a staging site which can be pushed to live when we're ready

One link can be sent to a service team, and they can see their content in context

This is better than sending a preview link to a single piece of content

Discussion at https://localgovdrupal.slack.com/archives/CSS2YS6BW/p16526

[2022-05-18 15:35] willguv opened #445 "Do we need a map format?"
This is the most popular Highways page on the Cumbria website

https://cumbria.gov.uk/roads-transport/WeatherStations/default.asp

As a citizen
I can see road conditions in tricky places at a glance
So I can decide to travel or not

We're deciding how to transition this content to LocalGov Drupal. The stopgap solution is to create an iframe (paying attention to accessibility) and inserting this co

[2022-05-18 15:38] willguv opened #446 "Is it a good idea to add multiple geos to a directory venue?"
Councils in charge of Highways need to publish Traffic Regulation Orders, generally pages of PDFs like this

https://www.cumbria.gov.uk/roads-transport/highways-pavements/highways/notices.asp

The user need is unclear to us - possibly statutory - and we're investigating

While we're waiting, we've created a directory channel with sample directory venues

https://cumbria-stage.codeenigma.net/parkin

[2022-05-18 15:45] willguv opened #447 "What's the process for bringing Waltham Forest search and events functionality to the distribution?"
There's been a lot of interest in Waltham Forest's Solr search work, and our discussions suggest it's recommended to councils but not mandatory

A few councils are also interested in WF's events. If we were to replace our existing events functionality with this (or upgrade it) how we decide to do this, and go about it. Who would do the work?

[2022-05-19 07:39] finnlewis commented on #444
Thanks @willguv , very interesting, I've not used https://www.drupal.org/project/entity_share so don't have much to go on. It would be great to see a demo and have something written up on how to set it up.

Do we know if anyone else are using it?

It strikes me as a very different workflow from the standard approach of editing content directly on the live site, but it is certainly something that h

[2022-05-19 07:43] finnlewis commented on #446
It would be good to get other people's thoughts on this: @ekes @stephen-cox @andybroomfield @Adnan-cds ?

[2022-05-19 08:25] andybroomfield commented on #447
Search, yes I will be looking at Solr so would be good to look at their Solr integration.
Events, will need to look at the divergences to make sure other sites either don't break or there is an upgrade path.
From looking at it, is it just an altered view with no map and some theming to put the filters on top?
Maybe a new issue on Localgov_events? /cc @

[2022-05-19 08:28] andybroomfield commented on #444
Looks like a specilist set up, requiring a dedicated content preview enviroment which might not always be avalible.
I wonder if there is a way of expanding preview link to work with something like workbench instead.

BHCC solved this problem by creating a preview user role that can view unpublished content, however its a bit of a hack and not the ideal solution as needs login and content dashboard

[2022-05-19 08:29] ekes commented on #446
Technically it's:
 * Allowing `localgov_location` field to allow multiple values; each a reference to a different geo entity
 * Adding a display widget (probably a embedded view) that displays one map with all geo entities on it.

[2022-05-19 08:32] willguv commented on #444
Thanks for commenting everyone. We think the main use of this is in a content design led transition of site content - closing an old site, and writing new sections based on user needs. It would only be used in BAU when whole sections are created and the service needs to approve everything before go live, and that's rare.

@benhillsjones may like to comment

[2022-05-19 08:32] ekes commented on #447
It would also be good to get a localgov_search_solr (or similar, localgov_directories_solr, depending where the dependencies are) with any of the advised configuration for others using solr as the backend.

[2022-05-19 08:32] andybroomfield commented on #446
Is it possible / wise to include multiple locations on the Geo element itself?
We have been thinking simmilar issue, but right now it will display multplie geos / maps so you need to do a specilist view to combine them

[Geo areas now power the Parking zones map](https://www.brighton-hove.gov.uk/parking-zones) but thats a specilist use case.

[2022-05-19 08:37] andybroomfield commented on #444
@willguv Maybe document this approach and provide a module with some configuration like the [Localgov Legacy Migration](https://github.com/localgovdrupal/localgov_legacy_migration) module that can be used as documentation / a starter kit for those looking to do something like this.

[2022-05-19 08:40] andybroomfield commented on #445
- Would it need to be a content type / dedicated page?
- Would a paragraph type / page component be a better fit?
- Would this use Geo entities or the plain geofield?

[2022-05-19 08:42] ekes commented on #446
Not for the address one, obviously.
But the storage, like the polygon, should be able to store multiple polygons, or points.

Difference would be:
 * If you want an address, or other additional information per geo like a description or such
 * How easy the input widget is (assuming inputting on Drupal site and not importing) for inputting multiples

[2022-05-19 08:53] ekes commented on #445
First guess having just clicked around and not seen the backend:

Another geo bundle (in addition to address and area) - with the field/logic for getting, and displaying, the weather station data.
These placed onto a single map with a view if it's one off - a field on a node content type if it's not.

[2022-05-19 11:40] finnlewis commented on #447
Also noted at https://github.com/localgovdrupal/localgov_search/issues/22

Discussing today in the Tech Group Drop-in - planning set up a meeting and sub working group to get this moving.

[2022-05-19 12:49] markconroy commented on #444
We have been using this as a proof-of-concept for getting info from one system to another system - send data from "intranet" to a central hub and then use entity_share in that central hub to push to a "website" (I'm using quote here because the intranet and website are not the same thing.

It was actually me who gave a demo of how this works to Dan in Cumbria to help with his content sharing needs

[2022-05-19 12:53] finnlewis commented on #446
@danchamp @willguv have you tried to configure the localgov_location field along the lines of @ekes suggestion above?

I'm just trying to work out what's preventing you from configuring the directory entry how you need.

[2022-05-19 13:01] danchamp commented on #446
@finnlewis I did a quick test with multiple locations against a directory venue, I think only the first rendered on the map, and they were presented stacked in the directory venue page with a map per location.

It's a combination of confidence in the approach (is there a better way?) and lack of ability (once we add support for multiple locations, how do we amend the rendering?) that's preventing

[2022-05-19 13:06] ekes commented on #446
dan:

ekes:

I'm pretty sure when I did this in D7 I literally just made a view with the argument of the node that pulled all the locations and mapped them, and then put it on the node.

If it's a common requirement we could make a proper view formatter out of it.

[2022-05-26 11:14] msayoung opened #448 "Write a policy for Drupal 10 support"
From [Technical Group Drop In 2022-05-12](https://docs.google.com/document/d/1LYDOK0LOrNAkJEnEnV6veVstULERTLhD7jwXAypnKA8/edit#heading=h.ys30n2l6o5ju)

Probably to be published here: https://github.com/localgovdrupal/localgov/wiki/Upgrading-from-Drupal-8-to-9

[2022-06-17 15:12] tran-bigbluedoor opened #449 "Cannot apply drupal/core patches for Drupal 9.4"
**Describe the bug**
When we upgrade to Drupal 9.4, two of the patches failed to apply:
[code]
**To Reproduce**
1. Execute `composer update`
2. See errors

**Expected behaviour**
Upgrade to Drupal 9.4 without any errors.

**Screenshots**
![Screenshot 2022-06-16 at 14 59 56](https://user-images.githubusercontent.com/102959744/174324356-6267e7bd-39f5-4f1b-82ca-7f614a338bcd.png)
![Screenshot 2022-06-

[2022-06-20 13:15] finnlewis opened #451 "Schema errors in update test coming from localgov_geo"
See https://github.com/localgovdrupal/localgov/runs/6938747447?check_suite_focus=true#step:5:30

We're trying to fix some patches which are not applying in https://github.com/localgovdrupal/localgov/pull/450

This looks like it is the Drupal\Tests\localgov\Functional\LocalGovUpdateTest::testUpdate failing on schema issues for localgov_geo.

[2022-06-20 14:42] ekes commented on #451
[code]
The previous, dead, setting is `settings.fullscreen_control`. It was replaced without upgrade path to `settings.fullscreen` which is the _current_ (new) configuration and is in the schema (correctly?) https://git.drupalcode.org/project/leaflet/-/blob/2.1.x/config/schema/leaflet.schema.yml#L118

So removing _any_ `fullscreen_control` from the existing configuration on upgrade seems reasonabl

[2022-06-20 16:05] ekes commented on #451
Was thinking of something like:

[code]

But for some reason that seems to be saving config with the same uuid. It should maybe check the widget is leaflet too, not that other's use fullscreen_control setting key.

[code]

So I'll stop looking for now.

[2022-07-04 13:59] finnlewis opened #455 "Embedding entities in rich text areas"
See previous discussion here https://github.com/localgovdrupal/localgov_page_components/pull/21

[2022-07-07 08:46] phillipkynaston opened #456 "Search API version update, composer breaks"
**Describe the bug**
Search API released v1.24 this morning which includes the patch that's added in localgov's composer.json file. As such, the composer install/update process fails to complete, as exit-on-patch-failure is turned on.

**To Reproduce**
`composer update`

Excerpt from output:
[code]

**Expected behavior**
All dependencies resolve and install.

**Screenshots**
If applicable, add scr

[2022-07-07 11:31] #456 closed, assigned to nobody

[2022-07-07 12:16] finnlewis opened #458 "Governance of people / members / owners of the Github Organisation."
We've been discussing how contributors become members of the Github Organisation.

Up until now this has been somewhat emergent and ad-hoc. A few of us have 'owner' status on the https://github.com/localgovdrupal Github Organisation based on trusted relationships developed in the early stages of the project and/or trust established through working together or the Drupal community.

@aaronhirtenste

[2022-07-07 13:55] finnlewis commented on #456
Thanks @phillipkynaston :)

[2022-07-07 16:14] finnlewis commented on #458
I think the closest thing we have to a policy at present is this:

https://github.com/localgovdrupal/localgov/blob/2.x/CONTRIBUTING.md#becoming-a-committer

So perhaps we want to extend / re-write this section to cover:

 - The distinction between roles: Owner / Member / Outside collaborator
 - When and how people get added (at Tech Group meetings / ad-hoc via Slack)
 - People leaving.
 - What oth

[2022-07-08 11:30] ekes commented on #451
Follow-up error after removing full screen in 915ee3e is caused by https://git.drupalcode.org/project/leaflet/-/commit/4d43a4ab971b3002215af062d2f57ee5f3059165 the weight being removed too.

[2022-07-08 12:37] ekes commented on #451
I'm going to make a PR of that and see how it test here. I can't actually see the removed settings.weight in the config in the upgrade!

[2022-07-11 10:11] aaronhirtenstein opened #460 "Proposal: Create standard set of labels for Github issues"
This issue follows a discussion in the [Tech Group meeting on 7th July 2022](https://docs.google.com/document/d/1ZP_fN-NEe8rXEvALcO7Iq3ppkrt0fsF6oSXBj373KgQ/edit#heading=h.ys30n2l6o5ju).

Git issue trackers can be a little intimidating to non-developers who aren’t used to them and less experienced developers, so labelling can make them friendlier and more accessible.
By having a disciplined system

[2022-07-11 10:25] aaronhirtenstein opened #461 "Proposal: Move developer documentation to Wikis in Github"
We are looking to reduce the barrier to entry for contribution (especially non-code contributors). Currently, technical documentation sits in two places (Github Wiki  and Docs) and the current Docs site is only editable by people with a Github account. This makes it hard for people to know where to find things and for non-developers to easily contribute to documentation.

There are [a few options

[2022-07-13 10:33] msayoung commented on #461
Hi @aaronhirtenstein

Thanks for this proposal.

I am supportive in principle - anything that lowers the barrier to good and accurate documentation is a great idea - however there are a couple of thoughts.

1. Those wikis all require a Github account to edit (at present)
2. We'll need to think of a strategy for documenting some cross-repo features

Developer documentation that I am aware of
- Ever

[2022-07-13 10:38] msayoung commented on #460
Can we have `Accessibility` as a label in there please?

Could we append, rather that prepend the labels with skill level, if we think this is needed? It'll be easier to scan and less likely that the useful bit of the information will be cut off if the label is truncated.

[2022-07-13 10:49] msayoung commented on #458
Thanks for this @finnlewis

In my mind most of the answers to the questions are - the (core) Technical Group. If it were meeting regularly they could review requests to join, access levels etc.

[Tech Group Aim & Domain](https://docs.google.com/document/d/1qNBepFAi4ZR4z_2ylOFRhSZZTDuG3gHh-M1T-1o9p3U/edit)

**Could we restrict the ability to merge pull requests and make releases to a sub-set of cor

[2022-07-13 10:51] msayoung commented on #395
Oh, there's a PR for some docs about DDEV over here: https://github.com/localgovdrupal/docs/pull/134

[2022-07-13 12:11] aaronhirtenstein commented on #460
@msayoung I've added Accessibility to the Contribution category, does that work for you?

And yes appending sounds sensible to me 👍

[2022-07-13 14:28] aaronhirtenstein commented on #460
Assigned some people who were present at the tech governance meeting last week. apologies if this is not the right use of that function!

[2022-07-13 16:56] finnlewis commented on #460
I think I need to review a few issues to understand how I would tag them using these labels.

In terms of categories:

"Skill level and orientation" makes sense across all issue queues. We could maybe do with an attempt at defining what we mean by 'Easy', 'Moderate' etc. Did these labels come from somewhere else that we might borrow definitions from? It is also probably hard to know how difficult

[2022-07-14 11:21] aaronhirtenstein commented on #460
Scope instead of contribution sounds good to me @finnlewis and prefixing looks useful.

One question I have when reviewing this issue queue is whether this is the right place for business issues e.g. https://github.com/localgovdrupal/localgov/issues/361 - could these be archived / closed / moved

I wonder also whether bug / enhancement / question are separate from the tech category - and don't nee

[2022-07-14 15:26] ekes opened #463 "PHP version support"
Actually - we should probably follow Drupal's recommendations:

https://www.drupal.org/docs/system-requirements/php-requirements#versions

PHP version | Supported by Drupal | First Drupal release with support | Recommended?
-- | -- | -- | --
7.3 | 9.x | 8.6.4 (note 1 below) | No
7.4 | 9.x | 8.8.3 | No
8.0 | 9.x | 9.1.0 | Yes
8.1 (note 2 below) | 9.x, 10.x | 9.3.0 | Yes

So support but not recommen

[2022-07-14 15:30] ekes commented on #463
It's been pointed out https://app.slack.com/client/TSSGD2UD6/CSE44GLSE/thread/CSE44GLSE-1657807863.970039 that we aren't supporting 7.3

We have some code that's not 7.3 compatible. We're not testing against 7.3 so these things won't be thrown up. There's also at least date_recur that don't support it any more.

7.3 support has been dropped by Drupal 9.4; but 9.3 is only EOL December.

Suggestion:

[2022-07-14 15:44] stephen-cox commented on #463
Adding a PHP restriction into profile's composer.json is a good idea. If the some stuff breaks on PHP 7.3, let's stop LocalGov Drupal being installed with that version, unless there's good case for supporting it; which I can't think of.

[2022-07-14 16:03] andybroomfield commented on #461
It's not clear how moving to wikis makes this easier to contribute than what we have currently.

This change would mean instead of having one central place to look up documentation (the docs site) it would be spread accross 50+ repositiries and you'd have to find the right one.

Sometimes its not clear which project documentation may belong to, some of the modules (localgov_paragraphs, localgov_ge

[2022-07-19 10:30] aaronhirtenstein commented on #461
Some thoughts from Michael Wignall on this which he said I could share - he helped put together a lot of the docs site together with @msayoung last year (I believe that's accurate):

Something needs to be done, but I'm not sure about using Github, and have general concerns about wikis.
Initial thoughts:
In terms of IA do we have a clear idea about:

- who will actually be adding or updating docs /

[2022-07-19 10:39] aaronhirtenstein commented on #461
thanks for adding your thoughts @andybroomfield

I agree it is not a simple fix and the proposal may not solve all the issues. One of the key motivations was to lower the barrier for non-developers to contribute documentation, I take your point about the improve this page link, but I don't think this helps people add new pages. I reckon we can get over the github login question via clearer onboard

[2022-07-19 11:03] aaronhirtenstein commented on #460
@markconroy @stephen-cox any thoughts on this?

[2022-07-19 11:59] finnlewis commented on #460
Another thing just occurred to me @aaronhirtenstein

We have 'status' which maps to columns on the project boards:
![image](https://user-images.githubusercontent.com/326588/179744264-bdf403aa-ecbf-4d35-8a37-5cce838e0135.png)
![image](https://user-images.githubusercontent.com/326588/179744310-789ae42a-935e-4fb2-ac55-47d011bc112a.png)

So we probably don't need 'status' type labels.

And there is al

[2022-07-19 15:58] finnlewis commented on #463
Sounds sensible and reasonable.

[2022-07-20 08:48] markconroy commented on #460
Hi @aaronhirtenstein

I'm happy with what you are proposing. As I said on the tech group meeting, it's much better than what we currently have, so would be good to implement and then iterate further if we need to.

DELETE THEM WITH FIRE. I see no value in them at all. And the inventor of scrum seems to agree with me:

https://www.quora.com/What-are-the-techniques-set-by-the-Scrum-guidelines-for-a-

[2022-07-20 10:24] aaronhirtenstein commented on #461
OK so we've been doing a bit of thinking about this in light of the understandable concerns of splitting dev documentation.

We are thinking that Gitbook might meet a number of current needs: super easy to edit, no need for github account (google or emial logins possible), free (for open source projects), permissions/editorial workflow and keeps everything in one place.

As a test to see how easy

[2022-07-20 10:28] aaronhirtenstein commented on #460
thanks @markconroy I'll revise the proposal to incorporate people's suggestions

re story points I think that is a proposal you'd need to bring to the dev team tbh. It would obviously simplify labelling for business as usual issues so I can see the benefit!

[2022-07-20 11:19] aaronhirtenstein commented on #460
OK I've amended the proposal to bring in feedback from this thread in https://docs.google.com/document/d/1Y6eZTZfsXGTUXd2qplHTDmAZ-pt5AuOsOErIYqL39eA/edit#

I'm not really clear on the decision making process for this as it isn't code / a merge request so will ask that question on Thursday unless anyone has any ideas. All I can find is https://localgovdrupal.org/about-lgd/governance

[2022-07-21 11:54] finnlewis commented on #461
Discussion from Tech Drop-in today:

- Andy: why? If we’re going to move it, we should move it to one place. Consolidate rather than spread it out
- Maria: There are docs in each project, readmes etc.
- Rupert: I like docs in a repo - the docs can then follow the code. We could maybe have a way to consolidate separate docs into one place.
- Maria: I’m strongly ambivalent about whether it should be

[2022-07-25 11:48] aaronhirtenstein commented on #461
@msayoung @finnlewis @stephen-cox @andybroomfield @ekes

Sorry folks I think my last comment was unclear. The Gitbook idea is to keep things in one place, not split out Dev docs into a separate place.

Gitbook enables non-technical people to contribute more easily than current docs site through better editorial process and not needing a github account to contribute.

[2022-07-25 13:36] #451 closed, assigned to nobody

[2022-07-28 11:36] finnlewis opened #465 "Headless examples / case studies"
At the Tech Drop-in today, Nicolas asked about headless LocalGov Drupal.

l
Nicolas (@ipwa) was wondering if there are any plans to provide a starter kit for a headless implementation.
Stephen: Agile Collective built some microsites using [Druxt](https://druxtjs.org/)
Nicolas: a council has asked about a headless implementation, internal developers interested. Could we build an un-opinionated star

[2022-07-28 13:50] markconroy commented on #465
We don't have any headless LGD sites, but I did create this video for how to create one:
https://mark.ie/blog/create-a-decoupled-council-news-site-with-localgov-drupal-and-gatsby

[2022-08-01 09:25] budda commented on #142
Having a documented cookie banner option that ticks all the compliance boxes with minimum effort would be a nice to have as a fallback for, maybe smaller, councils which just want to have something on their site.

[2022-08-01 15:15] ekes commented on #447
Followed-up in https://github.com/localgovdrupal/localgov_search/issues/24

[2022-08-01 15:15] #447 closed, assigned to nobody

[2022-08-22 14:28] keelanfh opened #466 "Autosave content"
In the process of moving to LocalGov Drupal, one thing we're missing from our current CMS is autosave functionality.

[localgov_microsites](https://github.com/localgovdrupal/localgov_microsites/) is using `drupal/autosave_form` - could we consider including this in core LocalGov Drupal? Would also welcome any other alternatives.

[2022-08-30 09:58] edent opened #467 ".gov.uk Guidance"
Hello!
I work for the domains team in CDDO. We're trying to encourage local councils to sign up for `.gov.uk` domain names.

Would it be possible to work with you to add some guidance to the https://localgovdrupal.org/ website to point people in the right direction?

Also, it looks like you're funded by DHLUC. You might be eligible for a .[gov.uk](http://gov.uk/) domain. Is that something you'd be

[2022-09-08 15:36] msayoung opened #468 "Anonymous users can register accounts"
In the profile, anonymous users can register accounts

![image](https://user-images.githubusercontent.com/3852805/189164570-c6921283-c281-444a-ad89-53f7e63fb9fa.png)

Do we want to change this default

[2022-09-15 14:48] finnlewis commented on #467
Hi @edent !

I'm sure we could add some guidance to https://localgovdrupal.org/.

@MichaelDCR and @TJHDCR tend to the content on the site and @willguv is best placed to respond to the potential to have a .gov.uk domain.

What sort of guidance are you thinking?

Many thanks,

Finn

[2022-09-15 15:06] MichaelDCR commented on #467
Hi  @edent

the DHULC funding ends in Jan so we wouldn't be eligible for a gov.uk domain.

It's a bit out of scope for our documentation at the moment but potentially something we could include or refer to. If there's something you could give us on the benefits and how to get one we could maybe do a blog post and mention it in the email newsletter.

I'm surprised there are any councils not using o

[2022-09-15 15:07] MichaelDCR commented on #467
p.s. I'm pretty sure all the LGD councils are on gov.uk so it may be preaching to the choir anyway

[2022-09-15 16:27] willguv commented on #467
Hi @edent great to hear from you - agree with Michael's comments above. Happy to look at and potentially add guidance.

Thanks for thinking of us

[2022-09-16 09:48] finnlewis commented on #468
Good call @msayoung !

While we might assume that each council would review this before launching a site, it would perhaps be safer to default to default to 'Administrators only'.

[2022-09-16 09:51] finnlewis commented on #466
Personally I am really enjoying the `drupal/autosave_form` in localgov_microsites. It is a neat and unobtrusive way to avoid losing content changes. It has also been used in Thunder for a while.

[2022-09-27 21:25] rosscullen opened #469 "Error when installing LocalGov Subsites module/extension (fresh build)"
Error on fresh build on dev box using lando. When installing the module/extension for "LocalGov Subsites", getting the following error:

`unable to install LocalGov Subsites due to unmet dependencies: field.field.node.localgov_subsites_overview.localgov_subsites_content (paragraphs.paragraphs_type.localgov_box_links_listing, paragraphs.paragraphs_type.localgov_call_out_box, paragraphs.paragraphs_t

[2022-09-28 07:06] stephen-cox commented on #469
Hi @rosscullen It would appear your install can't find a LocalGov Paragraphs installation. This is a dependency of Subsites and so should have been installed along with everything else when installing LocalGov Drupal.

Did you install LocalGov Drupal and Subsites using Composer? Are you enabling Subsite through the UI or using Drush?

[2022-09-28 20:56] rosscullen commented on #469
Thanks for reply @stephen-cox .... after installing composer, docker and Lando on fresh build of Ubuntu, I ran the following commands:
[code]

I'll try rebuild and see if that helps (and report back). Thanks

[2022-09-28 23:00] rosscullen commented on #469
Got a bit further this time. Deleted project folder, rebooted, and started from scratch.

Enabled the "localgov demo content" module (through the UI) and it began installing its dependencies... now getting the following:

`Unable to install LocalGov Subsites due to unmet dependencies: field.field.node.localgov_subsites_overview.localgov_subsites_content (paragraphs.paragraphs_type.localgov_key_con

[2022-09-29 09:35] stephen-cox commented on #469
I think the problem here is enabling LocalGov Demo module through the UI. It enables so much stuff that it is hitting the PHP max execution time. To avoid this you'll either need to increase this or enable the module with Drush using `lando drush en localgov_demo`. If things have already failed you'll likely need to run the site install again as things will be in an inconsistent state.

[2022-09-29 18:46] andybroomfield opened #470 "Is the gin login patch still needed"
This patch
[code]
Is getting flagged in our build process as already present, skipping.
[code]
Looks like the patch is present in Gin login already?
https://www.drupal.org/project/gin_login/issues/3192526

[2022-09-30 20:28] rosscullen commented on #469
Makes sense... Will give that a go... many thanks @stephen-cox 😊

[2022-10-01 20:26] rosscullen commented on #469
Thanks @stephen-cox created the instance and installed the module via Drush... all appears working now :-) Many thanks for your help 👍🏻

[2022-10-01 20:26] #469 closed, assigned to nobody

[2022-10-03 09:19] stephen-cox opened #471 "Schema errors in update test coming from localgov_geo - again"
There was previously an error with missing schema `content.location.settings.fullscreen_control` #451. There's now an issue with `content.location.settings.weight`.

I propose we ignore schema when running update tests as fixing these sorts of thing is sucking up time.

[code]

[2022-10-03 10:54] stephen-cox commented on #471
Turns out it's not possible to disable schema checking in the update test, but it is possible to ignore specific config files `$configSchemaCheckerExclusions`. This is preferable anyway.

[2022-10-03 13:04] #471 closed, assigned to nobody

[2022-10-10 10:13] andybroomfield opened #474 "Do we list the Good First Issue (Novice queue) anywhere for people to help fix issues."
[This page is a list of open issues that are labelled 'Good First Issue'](https://github.com/search?q=org%3Alocalgovdrupal+is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) and it would be good to promote it if new devs are looking to get started.
Could also list the [help wanted](https://github.com/search?q=org%3Alocalgovdrupal+is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) one as well.

Mayb

[2022-10-11 07:51] ghost commented on #239
Yes! Seems like a great idea
Better segmentation of the current list would be the ideal (on mailchimp)
from my perspective.
But a second list on there would also be fine (and perhaps easier to put
together than creating new segments
T

On Fri, Apr 8, 2022 at 7:51 PM Finn Lewis ***@***.***> wrote:

--
Data.Content.Reach <https://datacontentreach.co/>. - Digital content
strategies

Ethical Consumer

[2022-10-21 09:05] ikit-claw opened #476 "Patch error on updating localgovdrupal/localgov"
composer up localgovdrupal/localgov_base
Removing package drupal/core so that it can be re-installed and re-patched.
  - Removing drupal/core (9.3.22)
Deleting web/core - deleted
Loading composer repositories with package information
Updating dependencies
Nothing to modify in lock file
Installing dependencies from lock file (including require-dev)
Package operations: 1 install, 0 updates, 0 remova

[2022-10-21 09:30] markconroy commented on #476
Hi @ikit-claw

This is not an issue with localgov_base. Localgov Base does not attempt to apply any patches.

I think it's the localgovdrupal/localgov package that is trying to apply that patch. I'll move this issue to there.

Thanks for reporting.

[2022-10-21 10:02] ekes commented on #476
The composer file with LGD doesn't specify anything other than it should be 9.x.x so you should be able to upgrade core.
And actually you problem might be that that patch applies to 9.4 and not 9.3... we should be supporting 9.3 till it's EOL so probably need to re-roll it for 9.3 :-(

[2022-10-24 13:37] finnlewis opened #477 "Update docs for installing and setting up local ddev"
DDEV docs: https://docs.localgovdrupal.org/devs/getting-started/working-with-ddev.html

- [ ] add links in the menu

https://github.com/localgovdrupal/localgov#composer-notes

- [ ] remove the mention of stability dev

[2022-10-25 14:28] finnlewis opened #479 "Security policy for LocalGov Drupal.org"
It was noted in a recent technical group meeting that we should have a clear policy on reporting security issues to LocalGov Drupal.

Drupal.org has a clear policy and process: https://www.drupal.org/docs/develop/issues/issue-procedures-and-etiquette/reporting-a-security-issue

We should

- [x] Write a policy.
- [ ] Create a dedicated email address to report security issues
- [ ] Explore if we can

[2022-11-09 16:55] finnlewis commented on #479
@msayoung any thouhgts?

[2022-11-24 09:25] finnlewis commented on #463
PHP 7.4 is EOL in 4 days (28 Nov 2022).

I think we should probably stop testing on and officially supporting PHP 7.4.

@ekes @stephen-cox @andybroomfield @Adnan-cds thoughts?

[2022-11-24 10:10] Adnan-cds commented on #463
Drupal 9.x supports PHP 7.4 although it is not recommended.  Drupal 10.x doesn't support it at all.  Our tests are currently running under [Drupal 9.x](https://github.com/localgovdrupal/.github/blob/78a909d387d1ceaeccc8edc62b7a39569f50f4d4/workflow-templates/test.yml#L22).  I am assuming once there is a stable release of Drupal 10.x, we will switch to 10.x.  That may be a good time to drop referen